<!--
 * This is a manifest file that'll be compiled into application.html, which will include all the files
 * listed below and their dependencies.
 *
 * Any html files within this directory, lib/assets/components, or vendor/assets/components
 * can be referenced here using a relative path.
 *
 *= require polymer/polymer
 *= require core-ajax/core-ajax
 *= require core-scaffold/core-scaffold
 *= require core-toolbar/core-toolbar
 *= require core-item/core-item
 *= require core-icon/core-icon
 *= require core-list/core-list
 *= require core-menu/core-menu
 *= require paper-toast/paper-toast
 *= require paper-icon-button/paper-icon-button
 *= require paper-shadow/paper-shadow
 *= require paper-spinner/paper-spinner
 *= require paper-button/paper-button
 *= require paper-input/paper-input
 *= require paper-button/paper-button
 *= require paper-progress/paper-progress
 *= require paper-dialog/paper-action-dialog
 *= require app-router/app-router
 *= require ajax-form/ajax-form

 *= require oj-global-expressions

 *= require elements/all
 *= require ui-elements/all
 *= require subpages/all

 *= require_tree .

-->
