<polymer-element name="oj-app" id="oj-app">
  <template>
    <core-scaffold id='scaffold'
                   on-notification={{onNotification}}
                   on-go={{onGo}}
                   on-go-home={{onGoHome}}
                   on-review={{onReview}}>
      <nav>
        <core-toolbar>
          <span class="title">The Open Journal</span>
        </core-toolbar>

        <oj-main-menu id=mainmenu currentUser={{currentUser}}></oj-main-menu>

      </nav>

      <core-toolbar tool flex>
        <div flex></div>
        <oj-user-login currentUser={{currentUser}}></oj-user-login>
      </core-toolbar>

      <oj-page-router id=pages
                      on-route-changed={{onRouteChanged}}
                      currentUser={{currentUser}}
              ></oj-page-router>

      <paper-toast id=notification class="capsule core-transition core-transition-bottom" role="status" touch-action="none" tabindex="-1"></paper-toast>

    <style>

      .title {
        font-size: 25px;
      }

      :host /deep/ #mainContainer{
        background-color: white;
      }

      #notification {
        border-radius:0;
        padding-right: 60px;
        position: fixed;
        outline: none;
        z-index: 24;
        box-sizing: border-box;
      }

    </style>

    <oj-current-user on-user={{onUser}}></oj-current-user>

  </template>

  <script>
    Polymer({

      onNotification: function(event, text) {
          this.showNotification(text);
      },

      onGo: function(event, url) {
          this.$.pages.go(url);
      },

      onGoHome: function(event) {
          this.$.pages.go('/');
      },

      onReview: function(event, paper_or_id) {
          var id = paper_or_id.typed_provider_id || paper_or_id;
          var url = '/review/' + id;
          this.$.pages.go(url);
      },

      onUser: function(event, user) {
          this.currentUser = user && user.name ? user : null;
          this.$.pages.init();
      },

      onRouteChanged: function(event, detail) {
          var $menu = this.shadowRoot.querySelector('#mainmenu');
          $menu.routeChanged(detail);
      },

      showNotification: function(text) {
          console.info('Notification: ', text);
          this.$.notification.text = text;
          this.$.notification.show();
      }

    });
  </script>

</polymer-element>
