<polymer-element name='oj-annotation' attributes="annotation  color">
  <template>
    <div class='container' style=" background-color: {{color}}" >
      <div class='content'>
        <p>{{annotation.body}}</p>
      </div>
      <div >
        <core-icon icon='reply'></core-icon>
      </div>
    </div>

    <style>
      :host{
        width: 100%;
        position:absolute;
        color: white;
      }
      .content{
        box-sizing: border-box;
        padding: 20px;
        width: 100%;
        height: 100%;
      }
    </style>
  </template>

  <script>
    Polymer({
      state: 'unsaved'
    })
  </script>
</polymer-element>
