<dom-module id="oj-app">
  <style>
    /* TODO(polyup): For speed, consider reworking these styles with .classes
                     and #ids rather than [attributes].
    */
    [layout] {
      @apply(--layout);
    }
    [layout][vertical] {
      @apply(--layout-vertical);
    }
    [layout][flex] {
      @apply(--layout-flex);
    }
  </style>
  <style>

      :host, core-header-panel {
          height: 100%;
      }

      [drawer] {
          border-right: 1px solid #ccc;
      }

      core-toolbar {
          height: 50px;
          color: #fff;
          font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          background-color: rgb(51, 85, 117);
      }
      oj-toolbar {
          height: 100%;
          width:  100%;
      }

      :host /deep/ #mainContainer {
        background-color: white;
      }

      #notification {
        border-radius:0;
        padding-right: 60px;
        position: fixed;
        outline: none;
        z-index: 24;
        box-sizing: border-box;
      }

    </style>
  <template>

    <paper-header-panel border="true">

        <paper-toolbar>
            <oj-toolbar currentuser="{{currentUser}}" narrow="{{narrow}}" on-toggle-drawer="toggleDrawer"></oj-toolbar>
        </paper-toolbar>

        <paper-drawer-panel id="drawerPanel" drawer-width="280px" narrow="{{narrow}}">

            <oj-main-menu drawer="" id="mainmenu" currentuser="{{currentUser}}">
            </oj-main-menu>

            <paper-header-panel main="" mode="scroll" layout="" vertical="">
                <oj-page-router id="pages" flex="" layout="" vertical="" on-route-changed="onRouteChanged" currentuser="{{currentUser}}">
                    </oj-page-router>
            </paper-header-panel>

        </paper-drawer-panel>

    </paper-header-panel>

    <paper-toast id="notification" class="capsule core-transition core-transition-bottom" role="status" touch-action="none" tabindex="-1"></paper-toast>

    <oj-current-user on-user="onUser"></oj-current-user>

  </template>
  <script>
    Polymer({
      is: 'oj-app',
      properties: { onRoute: { observer: 'onRouteChanged' } },
      onNotification: function (event, text) {
        this.showNotification(text);
      },
      onGo: function (event, url) {
        this.$.pages.go(url);
      },
      onGoDefault: function (event) {
        this.$.pages.gotoDefault();
      },
      onReview: function (event, paper_or_id) {
        var id = paper_or_id.typed_provider_id || paper_or_id;
        var url = '/review/' + id;
        this.$.pages.go(url);
      },
      onUser: function (event, user) {
        this.currentUser = user && user.name ? user : null;
        this.$.pages.init();
      },
      onRouteChanged: function (detail, event) {
        var $menu = Polymer.dom(this.shadowRoot).querySelector('#mainmenu');
        $menu.routeChanged(detail);
      },
      showNotification: function (text) {
        console.info('Notification: ', text);
        this.set('$.notification.text', text);
        this.$.notification.show();
      },
      toggleDrawer: function () {
        this.$.drawerPanel.togglePanel();
      },
      listeners: {
        notification: 'onNotification',
        go: 'onGo',
        go-default: 'onGoDefault',
        review: 'onReview'
      }
    });
  </script>
</dom-module>
