<script>

    $.extend( PolymerExpressions.prototype, {

        isArray: function(obj) {
            return Array.isArray(obj);
        },

        isNotArray: function(obj) {
            return ! Array.isArray(obj);
        },

        not: function(obj) {
            return ! obj;
        },

        json: function(obj) {
            return JSON.stringify(obj);
        },

        log: function(value, args) {
            args = Array.prototype.slice.call(arguments, 1);
            args.splice(1, 0, value);
            console.info.apply(console, args);
            return value;
        }

    });

</script>
