<polymer-element name='oj-paper-icon' attributes='paper'>
  <template>
    <core-item  src="/assets/{{ icon_for_paper(paper) }}.png" label={{paper.title}} vertical>
      <a href="/#/review/{{paper.sha}}" target="_self"></a>
    </core-item>
  </template>

  <script>
    Polymer({
      icon_for_paper:function(paper){

        paper_icon_options = {pending: "paper_submit", accepted: "paper_accepted",view: "paper_view"};
        icon = paper_icon_options[paper.state]
        if(!icon){
          icon = paper_icon_options.view
        }

        return icon;
      }
    })
  </script>
</polymer-element>
