<polymer-element name="oj-review-page" attributes='paper_id'  >
  <template>
    <core-toolbar fixed layout >

      <p class='title'>{{paper.title}}</p>
      <div flex></div>
      <span> <core-icon id='closedIcon' icon='check'></core-icon> 3 closed issues </span>
      <span> <core-icon id='openIcon'   icon='error'></core-icon> 5 open issues </span>
      <span><core-icon icon='list'></core-icon></span>

      <paper-progress  class='bottom fit' value="{{loadProgress}}"></paper-progress>
    </core-toolbar>

    <section layout vertical>

      <template if="{{paper}}">
        <div layout horizontal>
          <stacked-pdf-reader on-page-clicked={{createTempAnnotation}} annotations={{annotations}}  loadProgress={{loadProgress}}  pageHeight={{pageHeight}} pageOffset={{pageOffset}} src={{"/proxy?url="+paper.location}}></stacked-pdf-reader>
          <oj-annotation-list
            id='annotation_list'
            flex
            annotations={{annotations}}
            pageHeight={{1584}}
            pageOffset={{20}}
            scale={{scale}}
            showNewAnnotation={{newAnnotationVisible}}
            newAnnotationLocation={{newAnnotationLocation}}
            on-new-annotation-box-dismissed={{hideAnnotationBox}}
            on-annotation-added={{addAnnotation}}
            >
          </oj-annotation-list>
        </div>
      </template>

      <core-ajax auto url={{'/papers/'+paper_id}} handleAs="json" response={{paper}}></core-ajax>
      <core-ajax auto url='/current_user' handleAs="json" response={{user}}></core-ajax>
      <style>
        core-toolbar{
          background-color: #7986CB;
        }
        
      </style>
    </section>

    <style>
      .title{
        max-width: 50%;
      }
    </style>

  </template>
  <script>
    Polymer({
      newAnnotationVisible: false,
      annotations: [
        {
          location:{page: 1, x:0.5, y:0.5},
          body: "This is a comment",
          state: "open",
          parent: "null",
          user: {
            id: 1233,
            role: "reviewer"
          }
        }
      ],
      addAnnotation:function(annotation){
        this.annotations.push( {location : annotation.detail.location.location, body: annotation.detail.text, user:{role:"reviewer"}})
      },
      hideAnnotationBox: function(){
        alert('dismiss');
        this.newAnnotationVisible= false;
      },
      createTempAnnotation:function(click_location){
        this.newAnnDetails= {location: click_location.detail};
        this.newAnnotationLocation= {location: click_location.detail};

        this.newAnnotationVisible = true;
      }
    })
  </script>
</polymer-element>
