
<polymer-element name="oj-submit-page" attributes='paper_title paper_location'>
  <template>
    <section vertical layout center style="height:100%;min-height:400px" >
      <h1>Submit Paper</h1>

        <paper-shadow flex center-justified vertical layout center z="1">
          <paper-input  label="arXiv paper"      value="{{paperIdentifier}}"></paper-input>

          <template if="{{ paperValid }}">
            <paper-button  raised on-tap={{submit}} role='button'>Submit</paper-button>
            <p><span>Paper Id: {{paperId}}</span> <span>PaperUrl: {{paperURL}}</span></p>
          </template>

          <template if="{{ !paperValid }}">
            <paper-button  disabled role='button'>Submit</paper-button>

          </template>

          <p>Please enter the id, abstract url or pdf url of a paper from the arXiv.</p>
          <p class='example'>1401.0003</p>
          <p class='example'>http://arxiv.org/abs/1401.0003</p>
          <p class='example'>http://arxiv.org/pdf/1401.0003.pdf</p>

          <paper-url-resolver       text={{paperIdentifier}}
                                    paperId={{paperId}}
                                    paperVersion={{paperVersion}}
                                    paperURL={{paperURL}}
                                    resolved={{paperValid}}></paper-url-resolver>

        </paper-shadow>

        <core-ajax on-core-response="{{response}}"
                   id='postRequest'
                   url='/papers/'
                   method='POST'
                   contentType="application/json"
                   handleAs="json" >
        </core-ajax>

        <template if="{{submitted}}">
          <paper-shadow flex center-justified vertical layout center z="1">
            <h2>Submitted</h2>
            <oj-paper-icon paper={{paper}}></oj-paper-icon>
          </paper-shadow>
        </template>

    </section>


    <style>

      paper-shadow{
        min-width:70%;
        background-color:white;
      }
      paper-input{
        width: 90%;
      }
      paper-button{
        background: #3e50b4;
        color: white;
      }
      p.example{
        margin     : 0px 0px 0px 10px;
        color      : grey;
        opacity    : 0.7;
        text-align : left;
      }
    </style>


  </template>

  <script>
    Polymer({
      submitted: false,
      paper: {},
      paperURL:"inital",

      submit:function(){
        this.$.postRequest.body=this.params()
        this.$.postRequest.go()
      },
      response:function(response){
        this.submitted = true;
        this.paper     = response.detail.response
      },
      params:function(params){
        return JSON.stringify({paper:{location: this.paperURL}})
      }
    })
  </script>
</polymer-element>
