<polymer-element name="oj-user-login" attributes='user'>
  <template>
    <template if="{{user.name != undefined}}">
      <a class='link' href='/auth/orcid'>{{user.name}} {{ {"(Editor)": user.editor} | tokenList }}</a>
      <a class='link' href='/signout'>Sign Out</a>
    </template>

    <template if="{{user.name == undefined}}">
      <a class='link' href='/auth/orcid'>Sign In</a>
    </template>

    <core-ajax auto url='/current_user' handleAs="json" response={{user}}></core-ajax>

    <style>
      a {
        color: #fff;
        font-size: 0.9em;
        font-family: "Helvetica Neue";
        font-weight: 100;
        text-decoration: none;
      }
    </style>
  </template>

  <script>
    Polymer({
    })
  </script>

</polymer-element>
