<polymer-element name="paper-url-resolver" attributes='text paperId paperURL paperVersion resolved'>

  <template>

  </template>
  <script>
    Polymer({
      paperId      : null,
      paperURL     : null,
      paperVersion : null,
      resolved     : false,

      textChanged:function(){

        paper_page_pattern    = /^\s*https?:\/\/arxiv\.org\/abs\/([0-9]{4}\.[0-9]{4})(v[0-9]+)?\.(pdf)?\s*/
        paper_pdf_pattern     = /^\s*https?:\/\/arxiv\.org\/pdf\/([0-9]{4}\.[0-9]{4})(v[0-9]+)?\.(pdf)?\s*/
        paper_id_pattern      = /^\s*([0-9]{4}\.[0-9]{4})(v[0-9]+)?\s*/

        if(match = this.text.match(paper_page_pattern)){
          this.paperId       = match[1]
          this.paperVersion  = match[2]
          this.paperURL      = this.constructURL()
          this.resolved      = true
        }
        else if(match        = this.text.match(paper_pdf_pattern)){
          this.paperId       = match[1]
          this.paperVersion  = match[2]
          this.paperURL      = this.text
          this.resolved      = true
        }
        else if(match        = this.text.match(paper_id_pattern)){
          this.paperId       = match[1]
          this.paperVersion  = match[2]
          this.paperURL      = this.constructURL()
          this.resolved      = true
        }
        else      {
          this.paperId      = null
          this.paperVersion = null
          this.paperURL     = null
          this.resolved     = false
        }
      },
      constructURL:function(){
        url = "http://arxiv.org/pdf/"+this.paper_id
        if (this.paperVersion){
          url += ("v"+this.paperVersion)
        }
        url += ".pdf"
        return url
      }
    })
  </script>

</polymer-element>
