<% if new_assignments_for(current_user) %>
<div class="banner">
  <iron-icon icon="icons:error" class="alert"></iron-icon>
    You've been assigned as a reviewer on a new paper. <a href='#reviewing'>View review assignments.</a>
</div>
<% end %>
