<div id="about">
  <div id="page">
    <h2 class="lead">The Open Journal is a peer-reviewed, open-access journal for astrophysics and cosmology.</h2>
    <div class="sub-menu">
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#editors">Editorial Board</a></li>
        <li><a href="#submission">Submission Guidelines</a></li>
        <li><a href="#content">Content Policy</a></li>
        <li><a href="#business">Business Model</a></li>
      </ul>
    </div>

    <h3 id="about">About</h3>

    <p>We don't need journals to disseminate our research anymore; in astrophysics and cosmology, we all post our research to the arXiv. We only need journals for peer review, and the prestige that comes along with that. But traditional journals still have all the trappings of publication, including an unnecessarily slow and expensive editorial process, along with a nasty habit of placing the articles they publish behind a paywall.</p>

    <p>The Open Journal does things differently, because we're not a publisher. Instead, we're a peer-review platform, piggybacking on the arXiv for all the "publishing." The Open Journal provides peer review for arXiv articles, making the process as fast and easy as we can. Once peer review for a particular article is successfully completed, we mark that article as accepted and send that information to the arXiv. Accepted articles receive a DOI and are listed in ADS, just like in any other journal — but in a fraction of the time, and at a fraction of the cost.</p>

    <h3 id="editors">Editorial Board</h3>

    <ul class="editors">
      <li><a href="http://www.sussex.ac.uk/profiles/533">Peter Coles</a> (Editor in Chief)</li>
      <li><a href="http://freelanceastro.com/about">Adam Becker</a> (Managing Editor)</li>
      <li><a href="https://www2.physics.ox.ac.uk/contacts/people/lintott">Chris Lintott</a> (Editor)</li>
      <li><a href="http://www.physics.manchester.ac.uk/people/staff/profile/?ea=sarah.bridle">Sarah Bridle</a></li>
      <li><a href="https://facultystaff.richmond.edu/~ebunn/">Ted Bunn</a></li>
      <li><a href="http://www.pedroferreira.co.uk/">Pedro Ferreira</a></li>
      <li><a href="http://www.roe.ac.uk/~rji/">Rob Ivison</a></li>
      <li><a href="http://astro.ic.ac.uk/ajaffe/home">Andrew Jaffe</a></li>
      <li><a href="http://thomaskitching.net/">Tom Kitching</a></li>
      <li><a href="http://www.physics.usyd.edu.au/~gfl/Home.html">Geraint Lewis</a></li>
      <li><a href="http://physics.open.ac.uk/~sserjeant/">Stephen Serjeant</a></li>
    </ul>

    <h3 id="submission">Submission Guidelines</h3>

    <p>The Open Journal makes submitting and reviewing articles fast and easy:</p>
    <ul>
      <li>Submitting to the Open Journal is as easy as posting your article to the arXiv. Just <a href="/auth/orcid">log in here</a> and enter the arXiv ID number, and you're done.</li>
      <li>Our novel reviewer interface makes it easy for authors and reviewers to discuss articles. You'll be notified when the review is complete and able to respond to the reviewer directly on the website thus dramatically speeding up the process of peer review.</li>
      <li>Revisions are submitted in the same manner as the original article — simply post a new version of your article to the arXiv.</li>
      <li>When your article is accepted, it will appear immediately on the Open Journal’s website. You'll also receive a DOI, which will appear on the arXiv.</li>
    </ul>

    <h3 id="content">Content Policy</h3>
    <p>Papers linked to from The Open Journal are subject to the copyright restrictions placed by the author when uploading to the arXiv. Copyright of the reviews is retained by those individuals participating and in sitations where these reviews are made public are subject to a <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>

    <h3 id="business">Business Model</h3>
    <p>The Open Journal is an open access journal <em>committed to running at minimal costs, with zero publication fees (<a href="https://en.wikipedia.org/wiki/Article_processing_charge">article processing charges</a>) or subscription fees</em>.
      With volunteer effort from our editorial board, community reviewers, donations and minimal infrastructure costs we believe the journal can remain a free community service.</p>

    <p>In the spirit of transparency, below is an outline of our current running costs:</p>
    <ul>
      <li>Annual Crossref <a href="http://www.crossref.org/02publishers/20pub_fees.html">membership</a>: $275 / year</li>
      <li>Paper DOIs: $1 / accepted paper</li>
      <li>The Open Journal website hosting (Heroku): $19 / month</li>
    </ul>

    <p>Assuming a publication rate of 200 papers per year this works out at ~$3.50 per paper ((19*12) + 200 + 275) / 200 .</p>
  </div>

</div>

<%= render 'layouts/footer' %>
