<script>

    window.Oj.colors = {

        // Currently we only support one author
        authorColors: ['white'],

        reviewerColors: ['aqua', 'aquamarine', 'royalblue',
                         'darkviolet', 'chartreuse', 'fuschia',
                         'gold',  'hotpink', 'orange', 'red' ],

        userColor: function(paper, user) {

            if (!paper.userColors)
                paper.userColors = {};

            if (!paper.userColors[user.sha]) {
                var index, color;

                if (paper.user.sha == user.sha)
                    color = this.authorColors[0];

                else if (index = Oj.utils.indexOf(paper.reviewers, function(r) {return r.sha == user.sha}) )
                    color = this.reviewerColors[index % this.reviewerColors.length];

                else
                    color = 'black';

                paper.userColors[user.sha] = color;
            }

            return paper.userColors[user.sha];
        }

    };

</script>
