<script>

    window.Oj.colors = {

        // Currently we only support one author
        authorColors: ['green', 'black'],

        reviewerColors: ['royalblue', 'darkviolet', 'red', 'orangered', 'teal', 'darkgoldenrod' ],

        defaultUserColor: 'black',

        userColor: function(user) {

            switch (user && user.role) {
                case 'submittor':
                    return this.authorColors[0];

                case 'collaborator':
                    return this.authorColors[user.index+1 % this.authorColors.length];

                case 'reviewer':
                    return this.reviewerColors[user.index % this.reviewerColors.length];

                default:
                    return this.defaultUserColor;

            }

        }

    };

</script>
