<script>

    window.Oj.globalExpressions = {

        isArray: function(obj) {
            return Array.isArray(obj);
        },

        isNotArray: function(obj) {
            return ! Array.isArray(obj);
        },

        not: function(obj) {
            return ! obj;
        },

        json: function(obj) {
            return JSON.stringify(obj);
        },

        // capitalize snake cased style text
        capitalize: function(text) {
            return text && text.replace(/[_-]/g,' ').replace(/(^|\W)\w/g, function(c) { return c.toUpperCase() } );
        },

        date: function(date) {
            if (!date) return undefined;
            if (typeof date == 'string')
                date = new Date(date);
            return date.toDateString()
        },

        log: function(value, args) {
            args = Array.prototype.slice.call(arguments, 1);
            args.splice(1, 0, value);
            console.info.apply(console, args);
            return value;
        },

        // Replacements for Polymer 0.5 functions

        convertStylePropertyName: function(name) {
            return String(name).replace(/[A-Z]/g, function(c) {
                return '-' + c.toLowerCase();
            });
        },

        styleObject: function(values) {
            var parts = [];
            for (var key in values) {
                if (values.hasOwnProperty(key)) {
                    var name = this.convertStylePropertyName(key);
                    parts.push(name + ': ' + values[key]);
                }
            }
            return parts.join('; ');
        },

        tokenList: function(values) {
            var tokens = [];
            for (var key in values)
                if (values.hasOwnProperty(key) && values[key])
                  tokens.push(key);
            return tokens.join(' ');
        }

    };

</script>
