<script>

    window.Oj.paperHelpers = {

        actionForPaper: function(paper){
            if (!paper) return;

            var has_role = function(role) { return paper.user_permissions.indexOf(role) >= 0; };

            if (has_role('submittor') && paper.pending_issues_count>1)
                return 'needs-attention';

            else if (paper.state=='under_review')
                return 'needs-attention';

            else if (paper.state=='rejected')
                return 'needs-attention';

            else if (paper.state=='accepted')
                return 'accepted';

            else if (paper.state=='rejected')
                return 'rejected';

            else if (has_role('submittor'))
                return 'in-process';

        },

        roleForPaper: function(paper){
            if (!paper)
                return '';
            else if (paper.user_permissions.indexOf('editor') >= 0)
                return 'editor';
            else if (paper.user_permissions.indexOf('reviewer') >= 0)
                return 'reviewer';
            else if (paper.user_permissions.indexOf('collaborator') >= 0)
                return 'author';
            else if (paper.user_permissions.indexOf('submittor') >= 0)
                return 'author';
        },

        // Given any user object returns the user object from the paper
        // With some additional metadata
        paperUser: function(paper, user) {
            if (!user)
                return undefined;
            var sha = user.sha;

            if (!paper.userBySha)
                paper.userBySha = {};

            if (paper.userBySha[sha]===undefined) {
                var index;

                if (paper.user.sha == sha) {
                    user  = paper.user;
                    user.index = 0;
                    user.role  = 'submittor';


                } else if (index = Oj.utils.indexOf(paper.reviewers, function(r) {return r.sha == sha}) ) {
                    user  = paper.reviewers[index];
                    user.index = index;
                    user.role  = 'reviewer';

                } else {
                    user = null;
                }

                paper.userBySha[sha] = user;
            }

            return paper.userBySha[sha];
        }

    };

</script>
