<script>

    window.Oj.paperHelpers = {

        actionForPaper: function(paper){
            if (!paper) return;

            var has_role = function(role) { return paper.user_permissions.indexOf(role) >= 0; };

            if (has_role('submittor') && paper.pending_issues_count>1)
                return 'needs-attention';

            else if (paper.state=='under_review')
                return 'needs-attention';

            else if (paper.state=='rejected')
                return 'needs-attention';

            else if (paper.state=='accepted')
                return 'accepted';

            else if (paper.state=='rejected')
                return 'rejected';

            else if (has_role('submittor'))
                return 'in-process';

        },

//        roleForPaper: function(paper){
//            if (!paper)
//                return '';
//            else if (paper.user_permissions.indexOf('editor') >= 0)
//                return 'editor';
//            else if (paper.user_permissions.indexOf('reviewer') >= 0)
//                return 'reviewer';
//            else if (paper.user_permissions.indexOf('collaborator') >= 0)
//                return 'author';
//            else if (paper.user_permissions.indexOf('submittor') >= 0)
//                return 'author';
//        },

        // Given a assignment sha returns the assignment object from the paper
        // With some additional metadata
        assignmentFromSha: function(paper, assignment_sha) {
            if (!assignment_sha)
                return undefined;

            if (!paper.assignmentsBySha)
                paper.assignmentsBySha = {};

            if (paper.assignmentsBySha[assignment_sha]===undefined) {
                var index = Oj.utils.indexOf(paper.assigned_users, function(a) {return a.sha == assignment_sha} );

                if (index >= 0) {
                    var assignment = paper.assigned_users[index];
                    assignment.index = index;

                } else {
                    var assignment = null;
                }

                paper.assignmentsBySha[assignment_sha] = assignment;
            }

            return paper.assignmentsBySha[assignment_sha];
        },

        providerPart: function(typed_provider_id) {
            return typed_provider_id.split(':').pop();
        }

    };

</script>
