<script>

    //#@todo: Refactor this with Oj.GlobalExpressions

    window.Oj.utils = {

        EMAIL_REGEX: /^([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})$/i,

        indexOf: function(array, callback, thisObj) {
            for (var i=0; i<array.length; i++)
                if (callback.call(thisObj, array[i], i, array) )
                    return i;
            return -1;
        },

        normalizeDate: function(date) {
            if (!date)
                return undefined;
            else if (typeof date == 'string')
                return new Date(date);
            else
                return date;
        },

        trim: function(string) {
            return $.trim(string);
        },

        getFirstLine: function(string) {
            return $.trim(string || '').split('\n')[0];
        },

        detect: function(array, callback, thisObj) {
            for (var i=0; i<array.length; i++)
                if (callback.call(thisObj, array[i], i, array) )
                    return array[i];
            return undefined;
        },

        errorMessage: function(error) {
            if (!$.isPlainObject(error)) {
                try {
                    error = JSON.parse(error);
                } catch (SyntaxError) {
                }
            }

            if (error && error.text)
                return error.text;
            else if (error && error.message)
                return error.message.slice(4);
            else
                return (error && error.toString()) || 'An error occurred.'
        },

        menuSectionForRole: function (role) {
            switch (role) {
                case 'editor':
                    return 'editing';
                case 'reviewer':
                    return 'review';
                case 'submittor':
                    return 'submitted';
                case 'collaborator':
                    return 'submitted';
                default:
                    return '';
            }
        },

        dbgString: function(x) {
            if (x===undefined)
                return '[undefined]';
            else if (x===null)
                return '[null]';
            else if (x.toString)
                return x.toString();
            else
                return x;
        }

    };

</script>
