<script>

    window.Oj.urls = {

        // Take either a paper object or a plain sha
        paperPath: function(paper_or_id) {
            return paper_or_id ? "/api/papers/"+ (paper_or_id.typed_provider_id || paper_or_id) : '';
        },

        annotationsFirebasePath: function(paper_id){
            return "https://theoj.firebaseio.com/papers/"+paper_id+"/annotations/";
        },

        addAssigneePath: function(paper, user) {
            return "/api/papers/"+paper.typed_provider_id+"/assignments?user=" + user.sha ;
        },

        removeAssigneePath: function(paper, assignment) {
            return "/api/papers/"+paper.typed_provider_id+"/assignments/" + assignment.sha;
        },

        getIssuesPath: function(paper) {
            return "/api/papers/"+paper.typed_provider_id+"/issues";
        },

        previewPath: function(paper) {
          return paper ? "/api/papers/"+ (paper.typed_provider_id || paper) + "/preview" : '';
        },

        paperVersionsPath: function(paper) {
            return paper && "/api/papers/"+paper.typed_provider_id+"/versions" ;
        },

        paperCheckForUpdatePath: function(paper) {
            return "/api/papers/"+paper.typed_provider_id+"/check_for_update";
        },

        googlePrreviewPath: function(paper){
          var link = paper.document_location;
          return "http://docs.google.com/gview?url=" + link + "&embedded=true";
        },

        paperAnnotationsPath: function(paper){
          return "/api/papers/"+paper.typed_provider_id+"/annotations";
        },

        addIssuePath: function(paper) {
            return "/api/papers/"+paper.paper_id+"/annotations";
        },

        paperAnnotationPath: function(paper, annotation){
            return "/api/papers/"+paper.paper_id+"/annotations/" + annotation.id;
        },

        paperAnnotationStateChangePath: function(paper, annotation, state){
            return "/api/papers/"+paper.paper_id+"/annotations/" + annotation.id + "/" + state;
        },

        paperCompletePath: function(paper){
            return  paper && "/api/papers/" + paper.typed_provider_id + "/complete";
        },

        paperMakePublicPath: function(paper, make_public){
            return  paper && "/api/papers/" + paper.typed_provider_id + "/public";
        },

        paperTransitionPath: function(paper, transition){
          return  paper && "/api/papers/" + paper.typed_provider_id + "/transition?transition=" + transition;
        }

    };

</script>
