<script>

    window.Oj.Utils = {

        indexOf: function(array, callback, thisObj) {
            for (var i=0; i<array.length; i++)
                if (callback.call(thisObj, array[i], i, array) )
                    return i;
            return -1;
        },

        detect: function(array, callback, thisObj) {
            for (var i=0; i<array.length; i++)
                if (callback.call(thisObj, array[i], i, array) )
                    return array[i];
            return undefined;
        },

        errorMessage: function(error) {
            if (!$.isPlainObject(error)) {
                try {
                    error = JSON.parse(error);
                } catch (SyntaxError) {
                }
            }

            if (error && error.text)
                return error.text;
            else if (error && error.message)
                return error.message.slice(4);
            else
                return (error && error.toString()) || 'An error occurred.'
        }


    };

</script>
