<script>

    window.Oj.urls = {

        paperPath: function(paper_id) {
            return "/api/papers/"+paper_id;
        },

        annotationsFirebasePath: function(paper_id){
            return "https://theoj.firebaseio.com/papers/"+paper_id+"/annotations/";
        },

        addAssigneePath: function(paper, user) {
            return "/api/papers/"+paper.sha+"/assignments?user=" + user.sha ;
        },

        removeAssigneePath: function(paper, assignment) {
            return "/api/papers/"+paper.sha+"/assignments/" + assignment.sha;
        },

        addIssuePath: function(paper) {
            return "/api/papers/"+paper.sha+"/annotations";
        },

        getIssuesPath: function(paper) {
            return "/api/papers/"+paper.sha+"/issues";
        },

        arxiv_lookup_url: function(paper_id){
          return "/api/papers/"+paper_id+"/arxiv_details";
        },

        paperVersionsPath: function(paper) {
            return paper && "/api/papers/"+paper.arxiv_id+"/versions" ;
        },

        paperCheckForUpdatePath: function(paper) {
            return "/api/papers/"+paper.arxiv_id+"/check_for_update";
        },

        google_preview_lookup: function(paper){
          var link = paper.links.filter(function(link){return link.content_type=="application/pdf"})[0].url;
          if(link.indexOf(".pdf")==-1){
              link+=".pdf";
          }
          return "http://docs.google.com/gview?url=" + link + "&embedded=true";
        },

        paperAnnotationsPath: function(paper){
          return "/api/papers/"+paper.sha+"/annotations";
        },

        paperAnnotationPath: function(paper, annotation){
            return "/api/papers/"+paper.sha+"/annotations/" + annotation.id;
        },

        paperAnnotationStateChangePath: function(paper, annotation, state){
            return "/api/papers/"+paper.sha+"/annotations/" + annotation.id + "/" + state;
        },

        paperTransitionPath: function(paper, transition){
          return  paper && "/api/papers/"+paper.sha+"/transition?transition=" + transition ;
        }

    };

</script>
