<polymer-element name="oj-about-page">
  <template>
      <section layout vertical class="boiler-plate">

          <h1>Welcome to the Open Journal</h1>
          <p>
              The Open Journal is a peer-reviewed, open-access journal for research in astrophysics and cosmology.
          </p>

          <div class="question">
              How does it work?
          </div>

          <div class="answer">
              <p>
                  The Open Journal makes submitting and reviewing articles fast and easy:
              </p>
              <ul>
                  <li>Submitting to the Open Journal is as easy as posting your article to the arXiv. Just log in here and enter the arXiv ID number, and you're done!</li>
                  <li>Our novel reviewer interface makes it easy for authors and reviewers to discuss articles. You'll be notified in real time as reviewers make individual comments on your article, dramatically speeding up the process of peer review.</li>
                  <li>Revisions are submitted in the same manner as the original article — simply post a new version of your article to the arXiv.</li>
                  <li>When your article is accepted, it will appear immediately on the Open Journal’s website. You'll also receive a DOI, which will appear on the arXiv.</li>
              </ul>
          </div>

          <h1>About the Open Journal</h1>

          <div class="question">What can I submit to the Open Journal?</div>
          <div class="answer">
              <p>
                If your article is posted on the astro-ph section of the arXiv,
                it's an appropriate submission for the Open Journal.
              </p>
          </div>

          <div class="question">Do you have a LaTeX template?</div>
          <div class="answer">
              <p>
                Yes we do. You can download it <a href="/downloads/openjournal.cls" target="_blank">here</a>.
              </p>
          </div>


          <div class="question">Who’s behind the Open Journal?</div>
          <div class="answer">
            <p>
              <strong>Editorial Board</strong>
              <ul>
                <li><a href="http://www.sussex.ac.uk/profiles/533">Peter Coles</a> (Editor in Chief)</li>
                <li><a href="http://freelanceastro.com/about">Adam Becker</a> (Managing Editor)</li>
                <li><a href="https://www2.physics.ox.ac.uk/contacts/people/lintott">Chris Lintott</a> (Editor)</li>
                <li><a href="http://www.physics.manchester.ac.uk/people/staff/profile/?ea=sarah.bridle">Sarah Bridle</a></li>
                <li><a href="https://facultystaff.richmond.edu/~ebunn/">Ted Bunn</a></li>
                <li><a href="http://www.pedroferreira.co.uk/">Pedro Ferreira</a></li>
                <li><a href="http://www.roe.ac.uk/~rji/">Rob Ivison</a></li>
                <li><a href="http://astro.ic.ac.uk/ajaffe/home">Andrew Jaffe</a></li>
                <li><a href="http://thomaskitching.net/">Tom Kitching</a></li>
                <li><a href="http://www.physics.usyd.edu.au/~gfl/Home.html">Geraint Lewis</a></li>
                <li><a href="http://physics.open.ac.uk/~sserjeant/">Stephen Serjeant</a></li>
              </ul>

              <strong>Technical</strong>
              <ul>
                <li><a href="http://www.arfon.org/">Arfon Smith</a> (Technical Lead)</li>
                <li><a href="https://twitter.com/stuart_lynn">Stuart Lynn</a> (Developer)</li>
                <li><a href="https://github.com/marcrohloff">Marc Rohloff</a> (Developer)</li>
                <li><a href="https://twitter.com/orbitingfrog">Rob Simpson</a> (Developer)</li>
              </ul>
            </p>
          </div>


          <div class="question">What's the philosophy behind the Open Journal?</div>
          <div class="answer">
              <p>
                  We don't need journals to disseminate our research anymore; in astrophysics and cosmology,
                  we all post our research to the arXiv. We only need journals for peer review,
                  and the prestige that comes along with that. But traditional journals still have all
                  the trappings of publication, including an unnecessarily slow and expensive editorial process,
                  along with a nasty habit of placing the articles they publish behind a paywall.
              </p>
              <p>
                  The Open Journal does things differently, because we're not a publisher.
                  Instead, we're a peer-review platform, piggybacking on the arXiv for all the "publishing."
                  The Open Journal provides peer review for arXiv articles, making the process as fast and
                  easy as we can. Once peer review for a particular article is successfully completed, we
                  mark that article as accepted and send that information to the arXiv. Accepted articles
                  receive a DOI and are listed in ADS, just like in any other journal — but in a fraction of the time,
                  and at a fraction of the cost.
              </p>
          </div>

          <div class="question">What’s “open” about the Open Journal? Is the peer review process itself open?</div>
          <div class="answer">
              <p>
                  The articles are open, in that all articles accepted by the Open Journal are released under a
                  Creative Commons Attribution license. The infrastructure is open too – the code running
                  the Open Journal is available under an MIT license. The reviewer comments can be made open
                  at the joint discretion of the authors and reviewers.
              </p>
          </div>

    </section>

    <style>
    </style>

  </template>

  <script>
    Polymer({})
  </script>
</polymer-element>
