
<dom-module id="oj-papers-page">

  <style>
        :host {
            @apply(--layout);
            @apply(--layout-fit);
        }

        #top {
            background: #eee;
            padding:    0 30px;
        }

        #list {
            padding: 0 30px 12px;
        }

        paper-dropdown-menu {
            font-size: 12px;
            width:     180px;
            border:    none;
        }
        paper-item {
            font-size: 12px;
            margin:    0;
            padding:   0;
        }

        paper-dropdown-menu::shadow #arrow {
            position: absolute;
            left:     0;
            top:      16px;
        }

        paper-dropdown-menu::shadow #label {
            position: absolute;
            left:     20px;
            top:      20px;
        }

        #scroller {
            position:      relative;
            overflow-y:    auto;
            height:        100%;
            margin-bottom: 18px;
        }
        iron-list{
            width: 100%;
        }
        #empty {
            font-weight: 500;
            font-size: 18px;
            padding: 20px 10px;
        }
        .item {
            padding:       0;
        }

    </style>
  <template>
      
    <div id="scroller" class="layout vertical">

      <div id="top" class="layout horizontal">
          <h1 class="layout flex">{{header}}</h1>
          <paper-dropdown-menu on-select="changeSortOrder" label="Submitted Date">
              <iron-dropdown class="dropdown">
                  <paper-menu class="menu" selected="3">
                      <paper-item key="title">Sort By Article Title</paper-item>
                      <paper-item key="author.name">Sort By Author</paper-item>
                      <paper-item key="state">Sort By State</paper-item>
                      <paper-item key="submitted_at" desc="">Sort By Submitted Date</paper-item>
                  </paper-menu>
              </iron-dropdown>
          </paper-dropdown-menu>
      </div>

      <div id="list" class="layout flex vertical">

          <template is="dom-if" if="{{_computeIf(papers)}}">
              <iron-list items="[[filtered(papers, sortKey, sortDesc)]]" as="model" >

                  <template>
                      <div class$="{{_computeClass(selected)}}">
                          <oj-paper-row paper="{{model}}"></oj-paper-row>
                      </div>
                  </template>

              </iron-list>
          </template>

          <template is="dom-if" if="{{_computeIf2(papers)}}">
              <div id="empty">
                  There are no papers to view.
              </div>
          </template>

      </div>

    </div>

    <iron-ajax auto="" url="{{src}}" handle-as="json" last-response="{{papers}}"></iron-ajax>

  </template>
  <script>
    Polymer({
      is: 'oj-papers-page',
        properties: {
        header: { notify: true },
        sortDesc: {
          type: Boolean,
          value: true
        },
        sortKey: {
          type: String,
          value: 'submitted_at'
        },
        src: { notify: true }
      },
      changeSortOrder: function (event, detail) {
        this.sortKey = detail.item.getAttribute('key');
        this.sortDesc = detail.item.hasAttribute('desc');
      },
      filtered: function (array, key, desc) {
        if (!array)
          return array;
        var keys = key.split('.');
        var sortFunction = function (a, b) {
          var x = a;
          keys.forEach(function (key) {
            x = x && x[key];
          });
          var y = b;
          keys.forEach(function (key) {
            y = y && y[key];
          });
          if (typeof x == 'string') {
            x = x.toLowerCase();
            y = y.toLowerCase();
          }
          var order = x < y ? -1 : x > y ? 1 : 0;
          return desc ? -order : order;
        };
        return array.sort(sortFunction);
      },
      _computeIf: function (papers) {
        return papers && papers.length > 0;
      },
      _computeIf2: function (papers) {
        return papers && papers.length == 0;
      },
      _computeClass: function (selected) {
        return 'item ' + this.tokenList({ selected: selected });
      },
      tokenList: function (obj) {
        var pieces = [];
        for (var key in obj) {
          if (obj[key]) {
            pieces.push(key);
          }
        }
        return pieces.join(' ');
      }
    });
  </script>
</dom-module>
