
<dom-module id="oj-papers-page">

    <template>

        <div id="scroller" class="layout vertical">

            <div id="top" class="layout horizontal">
                <h1 class="layout flex">{{header}}</h1>

                <paper-dropdown-menu on-iron-activate="changeSortOrder">
                    <paper-listbox class="dropdown-content menu" attr-for-selected="key" selected="submitted_at">
                        <paper-item key="title">Sort By Article Title</paper-item>
                        <paper-item key="submittor.name">Sort By Submittor</paper-item>
                        <paper-item key="state">Sort By State</paper-item>
                        <paper-item key="submitted_at" desc>Sort By Submitted Date</paper-item>
                    </paper-listbox>
                </paper-dropdown-menu>
            </div>

            <div id="list" class="layout flex vertical">

                <template id="list_repeater" is="dom-if" if="{{hasPapers(papers)}}">
                    <template is="dom-repeat"
                              items="[[ sortedPapers ]]"
                              initialCount="10">
                        <oj-paper-row paper="{{item}}"></oj-paper-row>
                    </template>
                </template>

                <template is="dom-if" if="{{hasNoPapers(papers)}}">
                    <div id="empty">
                        There are no papers to view.
                    </div>
                </template>

            </div>

        </div>

        <api-request auto="true" api="{{api}}" result="{{papers}}"></api-request>

        <style>
            :host {
                @apply(--layout);
                @apply(--layout-fit);
            }

            #top {
                background: #eee;
                padding: 0 30px;
                font-family: Neuton;
                color: #192023;
                font-size: 18px; /* Approximation due to font substitution */
                font-weight: 700;
                line-height: 30px; /* Approximation due to font substitution */
                text-align: left;
            }

            #list {
                padding: 0 30px 12px;
            }

            paper-dropdown-menu {
                font-size: 12px;
                width: 180px;
                border: none;
            }

            paper-item {
                font-size: 12px;
                margin: 0;
                padding: 0;
            }

            paper-dropdown-menu::shadow #arrow {
                position: absolute;
                left: 0;
                top: 16px;
            }

            paper-dropdown-menu::shadow #label {
                position: absolute;
                left: 20px;
                top: 20px;
            }

            #scroller {
                @apply(--layout);
                @apply(--layout-fit);
                position:      relative;
                overflow-y:    auto;
                height:        100%;
                margin-bottom: 18px;
                max-width:     1400px;
            }

            iron-list {
                width: 100%;
            }

            #empty {
                font-weight: 500;
                font-size: 18px;
                padding: 20px 10px;
            }

        </style>

    </template>

    <script>

    Polymer({
      is: 'oj-papers-page',

      properties: {
        header: {
          notify: true
        },
        papers: {
          type:   Array,
          notify: true
        },
        sortedPapers: {
          type:   Array,
          notify: true
        },
        sortKey: {
          type:  String,
          value: 'submitted_at'      // Match initial value of dropdown
        },
        sortDesc: {
          type:  Boolean,
          value: true      // Match initial value of dropdown
        },
        api: {
          notify: true
        }
      },

      observers: [
          'paperValid(papers, sortKey, sortDesc)'
      ],

      paperValid: function() {
        this.sortPapers();
      },

      changeSortOrder: function (event, detail) {
        var key  = detail.item.getAttribute('key');

        if (key != this.sortKey)
          this.sortDesc = detail.item.hasAttribute('desc');
        else
          this.sortDesc = ! this.sortDesc;

        this.sortKey  = key;

        this.sortPapers();
      },

      sortPapers: function() {
        if (!this.papers)
            return;

        var papers = this.papers.slice();
        var sortFn = this.createSortFunction(this.sortKey, this.sortDesc);
        papers.sort(sortFn);
        this.sortedPapers = papers;
      },

      createSortFunction: function(key, desc) {
        var keys = key.split('.');

        var sortFunction = function (a, b) {
          var x = a;
          keys.forEach(function (key) {
              x = x && x[key];
          });
          var y = b;
          keys.forEach(function (key) {
              y = y && y[key];
          });
          if (typeof x == 'string') {
              x = x.toLowerCase();
              y = y.toLowerCase();
          }
          var order = x < y ? -1 : x > y ? 1 : 0;
          return desc ? -order : order;
        };

        return sortFunction;
      },

      hasPapers: function (papers) {
        return papers && papers.length > 0;
      },
      hasNoPapers: function (papers) {
        return papers && papers.length == 0;
      },

      behaviors: [
        Oj.globalExpressions
      ]

    });

  </script>

</dom-module>
