<dom-module id="oj-paper-preview">
  <style>
      :host {
          @apply(--layout);
          @apply(--layout-horizontal);
          @apply(--layout-fit);
      }

      #preview {
          height: 100%;
      }

      #preview iframe{
        width:  100%;
        height: 100%;
      }

      #details {
          margin-top:  12px;
          box-sizing:  border-box;
          padding:     8px 20px;

          width:       400px;
          max-width:   50%;
      }

      #preview-text {
          text-transform: uppercase;
          font-size:      10px;
          margin-top:     0;
      }

      #title {
          font-size:   26px;
          font-weight: 700;
          line-height: 30px;
          margin-top:  12px;
      }

      .authors {
        list-style:  none;
        margin-left: 0;
        padding:     0;
        margin-top:  12px;
        font-size:   14px;
        line-height: 20px;
        color:       rgb(154, 154, 154);
      }

      .authors li{
        display:      inline;
        padding-left: 0;
      }

      #summary{
        margin-top: 12px;
        font-size:  12px;
        text-align: justify;
      }

      paper-button {
        margin-top:  12px;
        margin-left: -1px;
      }

    </style>
  <template>

    <template is="dom-if" if="{{notExisting(paper_details)}}">

        <template is="dom-if" if="{{hidePDF}}">
          <div class="layout flex" id="preview">
            <iframe src="{{googlePreviewPath(paper_details)}}" frameborder="0"></iframe>
          </div>
        </template>

        <div id="details">

          <div id="preview-text">Preview</div>
          <paper-button raised="" role="button" on-tap="submitForReview">Submit for review</paper-button>

          <div id="title">{{paper_details.title}}</div>

          <template is="dom-if" if="{{isArray(paper_details.authors)}}">
              <ul class="authors">
                <template is="dom-repeat" items="{{paper_details.authors}}" as="author">
                    <li>{{author.name}}</li>
                </template>
              </ul>
          </template>

          <template is="dom-if" if="{{isNotArray(paper_details.authors)}}">
            <div class="authors">{{paper_details.authors}}</div>
          </template>

          <div id="summary">{{paper_details.summary}}</div>
          <paper-button raised="" role="button" on-tap="submitForReview">Submit for review</paper-button>

        </div>
    </template>

    <template is="dom-if" if="{{loading}}">
      <paper-spinner active=""></paper-spinner>
    </template>

    <api-request id="postRequest" method="post" on-success="onPostRepsonse" on-error="onPostError"></api-request>

    <api-request id="detailsRequest" method="get" auto="true" api="{{previewApi(paper_id)}}" result="{{paper_details}}" on-success="onDetailsResponse" on-error="onDetailsError"></api-request>

    <iron-media-query query="min-width: 600px" query-matches="{{hidePDF}}"></iron-media-query>

  </template>

  <script>

    Polymer({
      is: 'oj-paper-preview',

      properties: {
        loading:  {
            notify: true,
            value: true
        },
        paper_id: {
            notify: true }
            ,
        user:     {
            notify: true
        }
      },

      onDetailsResponse: function (event) {
        this.loading = false;
        if (this.paper_details.is_existing) {
          event.preventDefault();
          this.fire('notification', 'Paper ' + this.paper_details.title + ' already exists.');
          if (this.paper_details.is_self_owned)
            this.fire('review', this.paper_details);
          else
            this.fire('go', '/submit');
        }
      },

      onDetailsError: function (event, detail) {
        this.loading = false;
        detail = JSON.parse(detail);
        if (detail.code == 404)
          var message = 'The paper could not be found. Please try again.';
        else
          var message = 'There was an error retrieving the paper: ' + (detail.text || detail.error) + ' (' + detail.code + ')';
        this.fire('notification', message);
        this.fire('go', '/submit');
      },

      submitForReview: function (event) {
        this.set('$.postRequest.api', Oj.api.paperApi(this.paper_details));
        this.$.postRequest.go();
      },

      onPostRepsonse: function (response) {
        this.fire('notification', 'Paper ' + this.paper_details.title + ' submitted');
        this.fire('go', '/submitted');
      },

      onPostError: function (event) {
        var xhr = event.detail.xhr;
        if (xhr.status == 409)
          var message = 'The paper already exists in the database.';
        else
          var message = 'There was an error submitting the paper: ' + xhr.statusText + ' (' + xhr.status + ')';
        this.fire('notification', message);
      },

      notExisting: function (paper_details) {
        return paper_details && !paper_details.is_existing;
      },

      behaviors: [
          Oj.urls,
          Oj.api,
          Oj.globalExpressions
      ]

    });

  </script>

</dom-module>
