<polymer-element name="oj-review-page" attributes='paper_id user attributes'>
  <template>
    <core-toolbar fixed layout>

      <p flex self-start class='title'>{{paper.title}}</p>
      <template if={{annotations}}>
        <span> <core-icon id='closedIcon' icon='check'></core-icon> {{ countClosed }} Closed Issues</span>
        <span> <core-icon id='openIcon'   icon='error'></core-icon> {{ countOpen }} Open Issues</span>
      </template>
      <span><core-icon icon='list'></core-icon></span>

      <template if='{{loadProgress < 100}}'>
        <paper-progress class='bottom fit' value="{{loadProgress}}"></paper-progress>
      </template>
    </core-toolbar>

    <template if="{{user.editor}}">
      <oj-editor-paper-controls flex paper="{{paper}}"></oj-editor-paper-controls>
    </template>

    <section layout vertical>

      <template if="{{paper}}">
        <div layout horizontal>
          <stacked-pdf-reader on-page-clicked={{createTempAnnotation}} annotations={{annotations}}  loadProgress={{loadProgress}}  pageHeight={{pageHeight}} pageOffset={{pageOffset}} src={{"/proxy?url="+paper.location}}></stacked-pdf-reader>
          <oj-annotation-list
            id='annotation_list'
            flex
            annotations={{annotations}}
            pageHeight={{1584}}
            pageOffset={{20}}
            scale={{scale}}
            showNewAnnotation={{newAnnotationVisible}}
            newAnnotationLocation={{newAnnotationLocation}}
            on-new-annotation-box-dismissed={{hideAnnotationBox}}
            on-annotation-changed={{onChangeAnnotation}}
            paper={{paper}}
            >
          </oj-annotation-list>
        </div>
      </template>

    </section>

    <style>
      core-toolbar{
          background-color: #7986CB;
      }
    </style>

    <json-get auto=true url="{{paper_id | paperPath}}" result={{paper}}></json-get>

    <template if="{{paper}}">
      <json-get auto=true  url="{{paper | getIssuesPath}}" result={{annotations}}></json-get>
    </template>

  </template>

  <script>
    Polymer({
      newAnnotationVisible: false,

      created: function() {
        this.annotations = [];
      },

      onChangeAnnotation:function(event, annotation) {
        this.updateCounts();
      },
      annotationsChanged: function(){
        this.updateCounts();
      },
      updateCounts: function() {
          if (!this.annotations)
            return;
          this.countClosed = this.annotations.filter(function(annotation){return annotation.state=='resolved'}).length;
          this.countOpen   = this.annotations.length - this.countClosed;
      },
      hideAnnotationBox: function(){
        this.newAnnotationVisible= false;
      },
      createTempAnnotation:function(click_location){
        this.newAnnDetails= {location: click_location.detail};
        this.newAnnotationLocation= click_location.detail;

        this.newAnnotationVisible = true;
      }
    })
  </script>
</polymer-element>
