<polymer-element name="oj-review-page" attributes='paper_id user'>
  <template>
    <core-toolbar fixed layout >

      <p class='title'>{{paper.title}}</p>
      <div flex></div>
      <template if={{annotations}}>
        <span> <core-icon id='closedIcon' icon='check'></core-icon> {{annotations | countClosed }} Closed Issues</span>
        <span> <core-icon id='openIcon'   icon='error'></core-icon> {{annotations | countOpen }} Open Issues</span>
      </template>
      <span><core-icon icon='list'></core-icon></span>

      <paper-progress class='bottom fit' value="{{loadProgress}}"></paper-progress>
    </core-toolbar>


    <section layout vertical>

      <template if="{{paper}}">
        <div layout horizontal>
          <stacked-pdf-reader on-page-clicked={{createTempAnnotation}} annotations={{annotations}}  loadProgress={{loadProgress}}  pageHeight={{pageHeight}} pageOffset={{pageOffset}} src={{"/proxy?url="+paper.location}}></stacked-pdf-reader>
          <oj-annotation-list
            id='annotation_list'
            flex
            annotations={{annotations}}
            pageHeight={{1584}}
            pageOffset={{20}}
            scale={{scale}}
            showNewAnnotation={{newAnnotationVisible}}
            newAnnotationLocation={{newAnnotationLocation}}
            on-new-annotation-box-dismissed={{hideAnnotationBox}}
            on-annotation-added={{onAddAnnotation}}
            paper={{paper}}
            >
          </oj-annotation-list>
        </div>
      </template>


      <json-get auto=true url="{{paper_id | paperPath}}" result={{paper}}></json-get>

      <template if="{{paper}}">
        <json-get auto=true  url="{{paper | getIssuesPath}}" result={{annotations}}></core-ajax>
      </template>


      <style>
        core-toolbar{
          background-color: #7986CB;
        }

      </style>
    </section>

    <style>
      .title{
        max-width: 50%;
      }
    </style>

  </template>
  <script>
    Polymer({
      newAnnotationVisible: false,
      annotations: [],

      countOpen:function(annotations){
        return annotations.filter(function(annotation){return annotation.state=='new'}).length
      },

      countClosed:function(annotations){
        return annotations.filter(function(annotation){return annotation.state=='closed'}).length
      },

      onAddAnnotation:function(e){
        this.addAnnotation(e.detail)
      },
      addAnnotation:function(annotation){
        this.annotations.push(annotation)
      },
      hideAnnotationBox: function(){
        this.newAnnotationVisible= false;
      },
      createTempAnnotation:function(click_location){
        this.newAnnDetails= {location: click_location.detail};
        this.newAnnotationLocation= click_location.detail;

        this.newAnnotationVisible = true;
      }
    })
  </script>
</polymer-element>
