<polymer-element name="oj-review-page" attributes='paper_id user attributes'>
  <template>

    <core-toolbar fixed layout>

      <p flex self-start class='title'>{{paper.title}}</p>

      <template if={{annotations}}>
        <span> <core-icon id='closedIcon' icon='check'></core-icon> {{ countClosed }} Closed Issues</span>
        <span> <core-icon id='openIcon'   icon='error'></core-icon> {{ countOpen }} Open Issues</span>
      </template>
      <span><core-icon icon='list'></core-icon></span>

      <template if='{{loadProgress < 100}}'>
        <paper-progress class='bottom fit' value="{{loadProgress}}"></paper-progress>
      </template>

    </core-toolbar>

    <template if="{{user.editor}}">
      <oj-editor-paper-controls flex paper="{{paper}}"></oj-editor-paper-controls>
    </template>

    <template if="{{paper}}">
      <div layout horizontal>

        <div layout vertical id=pdf-pane>
          <div id=add-document-issue>
            <paper-button raised on-tap="{{addDocumentAnnotation}}">
              <core-icon icon=add></core-icon>Add a comment about the whole document
            </paper-button>
          </div>
          <stacked-pdf-reader src={{"/proxy?url="+paper.location}}
                              pageHeight={{pageHeight}}
                              pageOffset={{pageOffset}}
                              loadProgress={{loadProgress}}
                              on-page-clicked={{pageClicked}}
                  ></stacked-pdf-reader>
        </div>

        <oj-annotation-list id=annotation_list
                            flex
                            paper={{paper}}
                            annotations={{annotations}}
                            pageHeight={{1584}}
                            pageOffset={{68}}
                            scale={{scale}}
                            on-annotation-changed={{onChangeAnnotation}}
                ></oj-annotation-list>
        </div>
      </template>

    <link rel="stylesheet" href="../../stylesheets/customized-components.css.scss" />
    <style>
      core-toolbar{
          background-color: #7986CB;
      }
      #pdf-pane {
          box-sizing: border-box;
          width: 60%;
          margin-right: 4px;
      }
      #add-document-issue {
          margin-right: 6px;
      }
      #add-document-issue paper-button {
          box-sizing: border-box;
          width: 100%;
      }
    </style>

    <json-get auto=true url="{{paper_id | paperPath}}" result={{paper}}></json-get>

    <template if="{{paper}}">
      <json-get auto=true  url="{{paper | getIssuesPath}}" result={{annotations}}></json-get>
    </template>

  </template>

  <script>
    Polymer({

      created: function() {
        this.annotations = [];
      },

      onChangeAnnotation:function(event, annotation) {
        this.updateCounts();
      },
      annotationsChanged: function(){
        this.updateCounts();
      },
      updateCounts: function() {
          if (!this.annotations)
            return;
          this.countClosed = this.annotations.filter(function(annotation){return annotation.state=='resolved'}).length;
          this.countOpen   = this.annotations.length - this.countClosed;
      },
      pageClicked:function(event){
        var list = this.shadowRoot.getElementById('annotation_list');
        list.startNewAnnotation(event.detail);
      },
      addDocumentAnnotation: function(event) {
        var list = this.shadowRoot.getElementById('annotation_list');
        list.startNewAnnotation({});
      }
    })
  </script>

</polymer-element>
