
<polymer-element name="oj-submit-page" attributes='paper_title paper_location router'>
  <template>
    <section layout vertical class="boiler-plate">
      <h1>Submit a paper</h1>

        <paper-shadow id=form flex center-justified vertical layout center z="1">
          <core-a11y-keys keys="enter" on-keys-pressed="{{submit}}"></core-a11y-keys>

          <paper-input  label="arXiv identifier" value="{{paperIdentifier}}"></paper-input>
          <paper-button  raised disabled?={{!paperValid}} on-tap={{submit}} role=button>Submit</paper-button>

          <p>Please enter the id, abstract URL or PDF URL of a paper from the arXiv.</p>
          <p class='example'>1401.0003</p>
          <p class='example'>http://arxiv.org/abs/1401.0003</p>
          <p class='example'>http://arxiv.org/pdf/1401.0003.pdf</p>

        </paper-shadow>

        <paper-url-resolver       text={{paperIdentifier}}
                                  paperId={{paperId}}
                                  paperVersion={{paperVersion}}
                                  paperURL={{paperURL}}
                                  resolved={{paperValid}}>
        </paper-url-resolver>

    </section>

    <link rel="stylesheet" href="../../stylesheets/customized-components.css.scss" />
    <style>
      section {
        height:100%;
        min-height:400px;
      }
      #form {
        min-width:70%;
        background-color:white;
      }
      paper-input {
        width: 90%;
      }
      p.example {
        margin     : 0 0 0 10px;
        color      : grey;
        opacity    : 0.7;
        text-align : left;
      }
    </style>


  </template>

  <script>
    Polymer({
      submitted: false,
      paper: {},
      paperURL:"initial",

      submit:function(){
        if (this.paperValid)
            this.router.go("/papers/"+this.paperId+"/preview");
      }
    })
  </script>
</polymer-element>
