<dom-module id="oj-settings-page">

  <style>
            section {
                height: 100%;
                min-height: 400px;
            }

            #form {
                min-width: 70%;
                background-color: white;
            }

            paper-input {
                width: 50%;
            }

            paper-material {
              box-shadow: none !important;
            }

            h1 {
              font-family: Neuton;
              color: #192023;
              font-size: 45px !important;
              font-weight: 400 !important;
              line-height: 70px;
              text-align: left;
              padding: 20px 0 30px 0;
            }

        </style>
  <template>
        <section class="boiler-plate layout vertical">

            <h1>Settings</h1>

            <paper-material id="form" class="layout flex center-justified vertical center" elevation="1">
                <iron-a11y-keys keys="enter" on-keys-pressed="submit"></iron-a11y-keys>

                <paper-input label="Email address" value="{{email}}"></paper-input>
                <paper-button raised="" on-tap="submit" role="button" disabled$="{{!valid}}">Update</paper-button>

            </paper-material>

        </section>

        <api-request id="update" method="put" api="user" on-success="updateSuccess" on-error="updateError"></api-request>

    </template>
  <script>
    Polymer({
      is: 'oj-settings-page',
      properties: {
        currentUser: {
          notify: true,
          observer: 'currentUserChanged'
        },
        email: { observer: 'emailChanged' },
        valid: {
          type: Boolean,
          value: false
        }
      },
      currentUserChanged: function () {
        this.email = this.currentUser && this.currentUser.email;
      },
      emailChanged: function () {
        this.valid = Oj.utils.EMAIL_REGEX.test(this.email || '');
      },
      submit: function () {
        if (!this.valid)
          return;
        this.set('$.update.data', { user: { email: this.email } });
        this.$.update.go();
      },
      updateSuccess: function (event, detail) {
        this.fire('notification', 'Your e-mail address has been updated');
        $.extend(this.currentUser, detail);
        this.fire('go-default');
      },
      updateError: function (event, detail) {
        this.fire('notification', Oj.utils.errorMessage(detail));
      }
    });
  </script>
</dom-module>
