
<polymer-element name="oj-submit-page" attributes='paper_title paper_location'>
  <template>
    <section layout vertical class="boiler-plate">
      <h1>Submit a Paper</h1>

        <paper-shadow id=form flex center-justified vertical layout left z=1>
          <core-a11y-keys keys="enter" on-keys-pressed="{{submit}}"></core-a11y-keys>

          <div class=input layout horizontal>
              <paper-input   flex label="arXiv identifier" value="{{paperIdentifier}}"></paper-input>
              <paper-button  raised disabled?={{!paperValid}} on-tap={{submit}} role=button>Submit</paper-button>
          </div>

          <div id=examples>
            <p>Please enter the id, abstract URL or PDF URL of a paper from the arXiv.</p>
            <p>Examples:</p>
            <ul>
              <li>1502.00003</li>
              <li>1401.0003</li>
              <li>http://arxiv.org/abs/1401.0003</li>
              <li>http://arxiv.org/pdf/1401.0003.pdf</li>
            </ul>
          </div>

        </paper-shadow>

        <paper-url-resolver       text={{paperIdentifier}}
                                  paperId={{paperId}}
                                  paperFullId={{paperFullId}}
                                  paperTypedId={{paperTypedId}}
                                  paperVersion={{paperVersion}}
                                  paperURL={{paperURL}}
                                  resolved={{paperValid}}>
        </paper-url-resolver>

    </section>

    <style>
      section {
        height:100%;
        min-height:400px;
      }
      paper-shadow {
          padding-left: 40px;
      }
      .input {
          width:     600px;
          max-width: 100%;
      }
      #form {
        min-width:        70%;
        background-color: white;
      }
      #examples {
          font-size: 12px;
          color: #aaaaaa;
      }
      #examples p {
          margin-bottom: 0;
      }
      ul {
          margin-top:   0;
          padding-left: 0;
      }
      li {
          list-style-type: none;
      }
    </style>


  </template>

  <script>
    Polymer({

      submit:function(){
        if (this.paperValid)
            this.fire('go', '/submit/' + this.paperTypedId);
      }

    })
  </script>
</polymer-element>
