<dom-module id="markdown-text-area">

  <template>
      <markdown-content id="markdown"
                        markdown="{{value}}"
                        hidden$="{{!previewVisible}}"></markdown-content>

      <iron-autogrow-textarea id="autogrow"
                              rows="3"
                              maxrows="12"
                              placeholder="{{placeholder}}"
                              value="{{value}}"
                              hidden$="{{previewVisible}}"></iron-autogrow-textarea>

      <style>

          :host {
              font-family: Roboto;
              color:       #c5c5c5;
              font-size:   12px;/* Approximation due to font substitution */
              font-weight: 400;
              padding:     0;
          }

          iron-autogrow-textarea {
              box-sizing:     border-box;
              width:          100%;
              border:         none;
              border-bottom:  solid 1px #c9c9c9;
              background:     white;
              --iron-autogrow-textarea: {
                  font-family: Roboto;
                  color:       #858585;
                  font-size:   14px;/* Approximation due to font substitution */
                  font-weight: 400;
                  box-sizing:  border-box;
                  padding:     0;
                  border:      none;
              }
          }

          markdown-content {
              width:   100%;
              height:  100%;
              margin:  0;
              padding: 0;
              cursor:  default;
              border:         none;
              border-bottom:  solid 1px #c9c9c9;
          }

      </style>

  </template>

  <script>
    Polymer({
      is: 'markdown-text-area',

      properties: {
        placeholder: {
            notify: true
        },
        previewVisible: {
            type:     Boolean,
            value:    false
        },
        previewButtonLabel: {
            type:     String,
            notify:   true,
            computed: 'computePreviewButtonLabel(previewVisible)'
        },
        value: {
            notify:   true,
            observer: 'valueChanged'
        }
      },

      showPreview: function () {
          this.previewVisible = true;
      },

      hidePreview: function () {
          this.previewVisible = false;
      },

      togglePreview: function () {
          if (this.previewVisible || this.value)
              this.previewVisible = ! this.previewVisible;
      },

      focus: function () {
        var textarea = this.$.autogrow.textarea;
        if (textarea)
          textarea.focus();
      },

      select: function () {
        var textarea = this.$.autogrow.textarea;
        if (textarea)
          textarea.select();
      },

      ready: function () {
        //#@todo
        //        this.$.autogrow.update(this.$.input);
      },

      computePreviewButtonLabel: function(previewVisible) {
          return previewVisible ? 'Edit' : 'Preview';
      },

      valueChanged: function(value) {
           var minHeight = this.$.autogrow.clientHeight;
          this.$.markdown.style.minHeight = minHeight + 'px';
      }

    });

  </script>

</dom-module>
