<polymer-element name='oj-annotation' attributes="paper annotation text">
  <template>

    <div class='container state-{{annotation.state}} collapsed' >

      <template if="{{paper.state=='under_review' && (role=='editor' || role == 'reviewer' ) }}">
        <oj-reviewer-annotation-controls paper={{paper}}  annotation={{annotation}} ></oj-reviewer-annotation-controls>
      </template>

      <div on-tap="{{expand}}" class=header layout horizontal>
          <oj-user-label assignment={{annotation.assignment|getAssignment}}></oj-user-label>
          <markdown-simplified flex class=issue markdown={{annotation.body}}></markdown-simplified>
          <div class=count>{{annotation.responses.length||0}} replies</div>
      </div>

    </div>

    <!-- Overlay this to get animated expansion to work nicely -->
    <core-collapse id=collapsible opened={{annotation.open}}>
      <core-a11y-keys keys="esc" on-keys-pressed={{collapse}}></core-a11y-keys>

      <div class='container state-{{annotation.state}} expanded' >

          <template if="{{paper.state=='under_review' && (role=='editor' || role == 'reviewer' ) }}">
              <oj-reviewer-annotation-controls paper={{paper}}  annotation={{annotation}} ></oj-reviewer-annotation-controls>
          </template>

          <template if="{{!annotation.new}}">
              <div on-tap="{{collapse}}" class=header layout horizontal>
                  <oj-user-label assignment={{annotation.assignment|getAssignment}}></oj-user-label>
                  <markdown-content class=issue markdown={{annotation.body}}></markdown-content>
              </div>

              <oj-annotation-comments id=comments paper={{paper}} annotation={{annotation}}></oj-annotation-comments>
          </template>

          <template if="{{annotation.new}}">

              <div class=header >
                  <core-a11y-keys keys="esc" on-keys-pressed={{close}}></core-a11y-keys>
                  <core-a11y-keys keys="shift+enter" on-keys-pressed={{submitAnnotation}}></core-a11y-keys>
                  <markdown-text-area id=annotationTextArea class=issue value={{text}}></markdown-text-area>
              </div>

              <div layout horizontal>
                  <span flex></span>
                  <paper-icon-button icon='add'   on-click= {{submitAnnotation}} disabled?={{!text}} ></paper-icon-button>
                  <paper-icon-button icon='close' on-click= {{close}} ></paper-icon-button>
              </div>

          </template>

      </div>

    </core-collapse>

    <style>
      :host{
          width: 100%;
          position:absolute;
      }
      .container {
          padding: 10px;
          box-sizing: border-box;
          border-top: 7px solid;
          border-bottom: solid 2px white;
          background-color: #efefef;
          color: black;
      }
      .container.expanded {
          padding-bottom: 6px;
      }
      core-collapse {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          z-index: 1;
      }
      .header {
      }
      .issue {
        cursor: pointer;
        font-size: 0.9em;
      }

      .collapsed .header {
          overflow: hidden;
      }

      .collapsed .issue {
          height: 1.5em;
      }
      .collapsed .issue::shadow #renderedContent {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }

      .count {
          font-size: 0.9em;
          margin-left: 12px;
      }

      paper-icon-button {
          padding-bottom: 0;
      }

      oj-reviewer-annotation-controls {
          position: absolute;
          top:      0;
          right:    6px;
      }

      markdown-text-area {
          width: 100%;
      }
      markdown-text-area::shadow a.toggle {
          bottom: -28px;
          right:  88px;
          color:  #888;
          text-transform: lowercase;
      }
      markdown-text-area::shadow markdown-content::shadow #renderedContent {
          padding: 4px;
          min-height: 40px;
      }

    </style>

      <json-post id=saveAnnotationRequest
                 url="{{paper | paperAnnotationsPath}}"
                 on-success={{annotationSaved}}
                 on-error={{annotationError}}></json-post>
  </template>

  <script>
    Polymer({

      /**** API *****/

      close:function(){
          this.collapse();
      },

      /**** polymer *******/

      observe: {
        'annotation.open' : 'annotationOpenChanged'
      },

      domReady: function() {
        if (this.annotation && this.annotation.new) {

            this.async( function() {
                var edit = this.shadowRoot.querySelector('core-collapse #annotationTextArea');
                edit.focus();
                edit.select();
            });

        }
      },

      /***********************/

      showNewComment: function() {
        this.$.comments.showNewComment();
      },
      annotationChanged: function() {
        if (!this.annotation) return;

        var assignment = Oj.paperHelpers.assignmentFromSha(this.paper, this.annotation.assignment);
        this.role = assignment && assignment.role;
      },
      annotationOpenChanged: function() {
        if (this.annotation.open)
            this.expand();
        else
            this.collapse();
      },
      collapse: function() {
        this.annotation.open = false;
        this.asyncFire('annotation-closed', this);
      },
      expand: function() {
        this.annotation.open = true;
        this.asyncFire('annotation-opened', this);
      },

      submitAnnotation: function(){
          if (!this.text)
              return;
          this.$.saveAnnotationRequest.data = this.annotationData();
          this.$.saveAnnotationRequest.go()
      },
      annotationSaved:function(event, response){
          this.annotation = response;
          this.fire("annotation-added", this.annotation);
          this.fire("notification", "Annotation saved.");
          this.text = '';
          this.close();
      },
      annotationError:function(response){
          this.fire("notification", "Could not save annotation.")
      },
      annotationData:function(){
          return {
              annotation:{
                    body:   this.text,
                    page:   this.annotation.page,
                    xStart: this.annotation.xStart,
                    yStart: this.annotation.yStart
                }
            };
      },

      getAssignment: function(assignment) {
          return Oj.paperHelpers.assignmentFromSha(this.paper, assignment);
      }

    })
  </script>
</polymer-element>
