<polymer-element name='oj-annotation' attributes="annotation color paper">
  <template>
    <div class='container' style=" background-color: {{color}}" >

      <div  on-tap="{{toggleCollapsed}}" class='content'>
        <template if="{{collapsed}}">
          <p layout horizontal>
            <span> {{annotation.body | truncate}}</span>
            <span flex></span>
            <span>{{annotation.responses.length}} replies</span>
          </p>
        </template>
        <template if="{{!collapsed}}">
          <p>{{annotation.body}}</p>
        </template>
      </div>

      <template if="{{!collapsed}}">

        <div class='comments'>
          <template repeat="{{response in annotation.responses}}">
            <p class='comment'>{{response.body}}</p>
          </template>
        </div>

        <template if={{newCommentVisible}}>
          <textarea class='niceTextArea'  value="{{text}}" placeholder="Add a reply..."> </textarea>
          <div layout horizontal end-justified class='controls'>
            <paper-icon-button on-click={{submitComment}}  icon="add"></paper-icon-button>
            <paper-icon-button on-click={{dismissNewCommnet}} icon="close"></paper-icon-button>
          </div>
        </template>

        <div layout horizontal>
          <span flex></span>
          <core-icon on-click= {{showNewComment}} icon='reply'></core-icon>
        </div>
      </template>
    </div>


    <core-ajax id="saveRequest"
              url="{{paper.sha | saveUrl}}"
              method="POST"
              contentType="application/json"
              handleAs=json
              on-core-response={{saved}}
              on-core-error={{error}}></core-ajax>

    <style>
      :host{
        width: 100%;
        position:absolute;
        color: white;
      }
      .container{
        padding: 10px;
        box-sizing: border-box;
        -webkit-transition: height 3s; /* For Safari 3.1 to 6.0 */
        transition: height 3s;
      }
      .content{
        width: 100%;
        height: 100%;
      }
      textarea{
        width: 100%;
        min-height: 50px;
        padding: 8px;
        border: 1px solid #cccccc;
        line-height: 130%;
        font-size: 13px;
        box-sizing:border-box;
      }
      .comment{
        background-color: #1976D2;
        box-sizing:border-box;
        padding: 10px 0px 10px 10px;
      }

    </style>
  </template>

  <script>
    Polymer({
      newCommentVisible: false,
      collapsed: true,
      dismissNewCommnet:function(){
        this.newCommentVisible = false
      },
      truncate:function(text){
        return this.collapsed ? text.slice(0,50) + "..." : text
      },
      showNewComment:function(){
        this.newCommentVisible = true
      },
      submitComment:function(){
        this.$.saveRequest.body = this.responseParams()
        this.$.saveRequest.go()
      },
      saveUrl:function(paper_sha){
        return '/papers/'+paper_sha+'/annotations'
      },
      toggleCollapsed: function(){
        this.collapsed = !this.collapsed
      },
      saved:function(e){
        this.fire("notification", "Reply saved")
        this.annotation.responses.push(e.detail.response)
        this.newCommentVisible = false
      },
      responseParams:function(){
        var params = {
          annotation:{
            body: this.text,
            page: this.annotation.page,
            parent_id: this.annotation.id
          }
        }

        return JSON.stringify(params)
      },
      error:function(){
        this.fire("notification", "Error saving reply")
      }
    })
  </script>
</polymer-element>
