
<dom-module id="oj-annotation-comments">

  <style>

      .comments {
          box-sizing: border-box;
          padding: 10px 0 0 0;
          font-size: 0.9em;
      }

      .comments markdown-content::shadow #renderedContent{
        background-color: white;
        padding: 10px 5px 10px 5px;
        margin-bottom: 5px;
      }

      .comment {
      }

      markdown-text-area {
          width: 100%;
      }
      markdown-text-area::shadow a.toggle {
          bottom: -45px;
          right:  154px;
          color:  #888;
          text-transform: capitalize;
          font-size: 12px;
      }
      markdown-text-area::shadow markdown-content::shadow #renderedContent {
          padding: 4px;
          min-height: 40px;
      }

      oj-user-label {
          margin-bottom: 5px;
          box-shadow: 4px 0 0 white; /* Make the right border white */
      }

    </style>
  <template>

      <template is="dom-if" if="{{annotation.responses.length}}">
          <div class="comments">
              <template is="dom-repeat" items="{{annotation.responses}}" as="comment">
                  <div class="layout horizontal">
                      <oj-user-label assignment="{{_computeAssignment(comment, getAssignment)}}"></oj-user-label>
                      <markdown-content class="comment" class="layout flex" markdown="{{comment.body}}"></markdown-content>
                  </div>
              </template>
          </div>
      </template>

      <template is="dom-if" if="{{newCommentVisible}}">
          <iron-a11y-keys keys="esc" on-keys-pressed="dismissNewComment"></iron-a11y-keys>
          <iron-a11y-keys keys="shift+enter" on-keys-pressed="submitComment"></iron-a11y-keys>

          <markdown-text-area id="replyTextArea" placeholder="Add a comment" value="{{text}}"></markdown-text-area>

          <div class="controls layout horizontal end-justified">
              <paper-button on-click="submitComment" icon="add" disabled$="{{_computeDisabled($, text)}}">Add</paper-button>
              <paper-button on-click="dismissNewComment" icon="close" disabled$="{{$.newCommentRequest.loading}}">Cancel</paper-button>
          </div>
      </template>

      <template is="dom-if" if="{{_computeIf(newCommentVisible, paper)}}">
          <div class="layout horizontal">
              <span class="layout flex"></span>
              <paper-button on-click="showNewComment" icon="reply">Reply</paper-button>
          </div>
      </template>

    <iron-ajax id="newCommentRequest" url="{{addIssuePath(paper)}}" method="POST" contenttype="application/json" handle-as="json" on-response="commentSaved" on-error="commentError"></iron-ajax>

  </template>
  <script>
    Polymer({
      is: 'oj-annotation-comments',
      properties: {
        annotation: { notify: true },
        /******** Polymer *******************/
        newCommentVisible: {
          type: Boolean,
          value: false
        },
        paper: { notify: true }
      },
      /***** API *******/
      showNewComment: function () {
        this.newCommentVisible = true;
        this.async(function () {
          var edit = Polymer.dom(this.shadowRoot).querySelector('#replyTextArea');
          edit.focus();
          edit.select();
          this.asyncFire('new-comment-shown');
        });
      },
      /*************************/
      dismissNewComment: function () {
        this.newCommentVisible = false;
      },
      submitComment: function () {
        if (this.$.newCommentRequest.loading)
          return;
        if (!this.text)
          return;
        this.set('$.newCommentRequest.body', this.responseParams());
        this.$.newCommentRequest.go();
      },
      commentSaved: function (e) {
        this.fire('notification', 'Reply saved');
        this.annotation.responses.push(e.detail.response);
        this.newCommentVisible = false;
        this.text = '';
      },
      responseParams: function () {
        var params = {
          annotation: {
            body: this.text,
            page: this.annotation.page,
            parent_id: this.annotation.id
          }
        };
        return JSON.stringify(params);
      },
      commentError: function () {
        this.fire('notification', 'Error saving reply');
      },
      getAssignment: function (assignment) {
        return Oj.paperHelpers.assignmentFromSha(this.paper, assignment);
      },
      _computeIf: function (newCommentVisible, paper) {
        return !newCommentVisible && paper.can_edit_annotations;
      },
      _computeAssignment: function (comment, getAssignment) {
        return comment.assignment | getAssignment;
      },
      _computeDisabled: function ($, text) {
        return !text || $.newCommentRequest.loading;
      }
    });
  </script>
</dom-module>
