<polymer-element name='oj-annotation-list' attributes="annotations scale pageHeight pageOffset showNewAnnotation newAnnotationLocation paper">
  <template>
    <div layout vertical flex>
      <template repeat="{{annotation in annotations}}">
        <oj-annotation paper={{paper}} style="top:{{annotation | topForAnnotation}}px"  top="{{annotation | topForAnnotation}}" annotation={{annotation}} ></oj-annotation>
      </template>

      <template if={{showNewAnnotation}}>
        <oj-new-annotation style="top:{{newAnnotationLocation | topForAnnotation}}px" location={{topForAnnotation}} paper={{paper}}> </oj-new-annotation>
      </template>
    </div>

    <style>
      :host{
        position: relative;
        box-sizing: border-box;
        padding-top: 20px;
      }
    </style>


  </template>
  <script>
    Polymer({
      scale: 2,
      topForAnnotation: function(annotation){
        page_no = annotation.page;
        y       = annotation.yStart;
        return (y + this.pageOffset + this.pageHeight*page_no);
      }
    })
  </script>
</polymer-element>
