<polymer-element name='oj-annotation' attributes="paper annotation">
  <template>

    <div class='container {{annotation | classes}} collapsed' >

      <template if="{{paper.state=='under_review' && (annotation.author.role=='editor' || annotation.author.role == 'reviewer' ) }}">
        <oj-reviewer-annotation-controls paper={{paper}}  annotation={{annotation}} ></oj-reviewer-annotation-controls>
      </template>

      <div on-tap="{{expand}}" class=header>
          <div class=issue></div>
          <div class=count>{{annotation.responses.length}} replies</div>
      </div>

    </div>

    <!-- Overlay this to get animated expansion to work nicely -->
    <core-collapse id=collapsible>

      <div class='container {{annotation | classes}} expanded' >

          <template if="{{paper.state=='under_review' && (annotation.author.role=='editor' || annotation.author.role == 'reviewer' ) }}">
              <oj-reviewer-annotation-controls paper={{paper}}  annotation={{annotation}} ></oj-reviewer-annotation-controls>
          </template>

          <div on-tap="{{collapse}}" class=header>
              <markdown-content class=issue markdown={{annotation.body}}></markdown-content>
          </div>

          <div class='comments'>
              <template repeat="{{response in annotation.responses}}">
                  <markdown-content markdown="{{response.body}}"></markdown-content>
              </template>
          </div>

          <template if={{newCommentVisible}}>

              <markdown-text-area placeholder="Add an issue" value="{{text}}"></markdown-text-area>

              <div layout horizontal end-justified class='controls'>
                  <paper-icon-button disabled?={{!text}} on-click={{submitComment}}  icon="add"></paper-icon-button>
                  <paper-icon-button on-click={{dismissNewComment}} icon="close"></paper-icon-button>
              </div>
          </template>

          <template if={{!newCommentVisible}}>
              <div layout horizontal>
                  <span flex></span>
                  <core-icon on-click= {{showNewComment}} icon='reply'></core-icon>
              </div>
          </template>

      </div>

    </core-collapse>

    <style>
      :host{
          width: 100%;
            position:absolute;
      }
      .container {
          padding: 10px;
          box-sizing: border-box;
          color: white;
      }
      core-collapse {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          z-index: 1;
      }
      .header {
          margin: 16px 0 12px 8px;
      }
      .issue {
          font-weight: bold;
          cursor: pointer;
      }

      .collapsed .issue {
          height: 1em;
          width: 400px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }
      .count {
          position: absolute;
          top: 24px;
          right: 12px;
      }
      .comment {
          box-sizing:border-box;
          padding: 10px 0 10px 10px;
      }

      markdown-text-area {
          width: 100%;
      }
      markdown-text-area::shadow a.toggle {
          bottom: -28px;
          right:  88px;
          color:  #eee;
      }
      markdown-text-area::shadow markdown-content::shadow  #renderedContent {
          padding: 4px;
          min-height: 40px
      }

      oj-reviewer-annotation-controls {
          position: absolute;
          top:      0;
          right:    6px;
      }
      .comment {
        box-sizing:border-box;
        padding: 10px 0 10px 10px;
      }

      .controls paper-icon-button {
          height: 14px;
      }

      /* State Colors */
      .container{
          background-color: grey;
      }
      .comment {
          background-color: #909090;
      }
      .container.state-unresolved {
          background-color: #6b711c;
      }
      .state-unresolved .comment {
          background-color: #767c1e;
      }
      .container.state-resolved {
          background-color: #0D47A1;
      }
      .state-resolved .comment {
          background-color: #1565b3;
      }
      .container.state-disputed {
          background-color: #a42d25;
      }
      .state-disputed .comment {
          background-color: #c3362b;
      }

    </style>

    <core-ajax id="newCommentRequest"
               url="{{paper | addIssuePath}}"
               method="POST"
               contentType="application/json"
               handleAs=json
               on-core-response={{saved}}
               on-core-error={{error}}></core-ajax>

  </template>

  <script>
    Polymer({
      /* External API */
      newCommentVisible: false,
      close:function(){
        this.collapse();
      },
      /***********************/
      classes: function(annotation){
        return 'state-' + annotation.state + ' role-'+annotation.author.role;
      },
      annotationChanged: function(text) {
         var issue_header = this.shadowRoot.querySelector('.header .issue');

         if (issue_header && this.annotation)
            issue_header.innerHTML = window.strip_markdown(this.annotation.body);
      },
      collapse: function() {
        this.$.collapsible.opened = false;
      },
      expand: function() {
        this.$.collapsible.opened = true;
        this.fire('annotation-opened', this);
      },
      dismissNewComment:function(){
        this.newCommentVisible = false
      },
      showNewComment:function(){
        this.newCommentVisible = true
      },
      afterCommentVisible: function() {
          var edit = this.$.container.querySelector('#replyTextArea');
          edit.focus();
      },
      submitComment:function(){
        this.$.newCommentRequest.body = this.responseParams();
        this.$.newCommentRequest.go()
      },
      saved:function(e){
        this.fire("notification", "Reply saved");
        this.annotation.responses.push(e.detail.response);
        this.newCommentVisible = false;
        this.text = '';
      },
      responseParams:function(){
        var params = {
          annotation:{
            body: this.text,
            page: this.annotation.page,
            parent_id: this.annotation.id
          }
        };

        return JSON.stringify(params)
      },
      error:function(){
        this.fire("notification", "Error saving reply")
      }
    })
  </script>
</polymer-element>
