<dom-module id="oj-annotation-list">

  <template>

    <style>

      :host {
          width:       100%;
      }

      oj-annotation {
        display: none;
        width:   100%;
      }

    </style>

    <div class="layout vertical flex" id="list">

      <template is="dom-repeat" items="{{annotations}}" as="a">
        <oj-annotation paper="{{paper}}"
                       annotation="{{a}}"
                       on-annotation-opened="annotationOpened"
                       on-annotation-closed="annotationClosed"
                       on-annotation-added="annotationAdded"
                       style$="{{_computeStyle(a, a.list_top)}}"></oj-annotation>
      </template>

    </div>

  </template>

  <script>
    Polymer({
      is: 'oj-annotation-list',

      properties: {
        paper: {
            notify: true
        },
        annotations: {
          type:   Array,
          notify: true
        },
        collapsedAnnotationHeight: {
          type: Number,
          value: 42
        },
        firstPageOffset: {
            notify: true
        },
        pageHeight: {
          type: Number,
          notify: true,
          observer: 'pageHeightChanged'
        },
        pageSpacing: {
          notify: true
        }
      },

      observers: [
        'annotationsChanged(annotations.*)'
      ],

      annotationsChanged: function() {
        if (!this.annotations || !this.pageHeight)
          return;

        // console.log('oj-annotations-list:annotationsChanged', this.annotations);

        // Don't work on the original list it kills the browser
        var copy = this.annotations.slice(0);
        this.sorted_annotations = this.sortAnnotations(copy);
        this.addLocationToAnnotations();
      },

      pageHeightChanged: function (newValue, oldValue) {
        if (!this.sorted_annotations) {
            this.annotationsChanged();

        } else {
          // Add a delay since we're re-sizing inside a mouse drag
          this.debounce('update-annotation-list-locations', this.addLocationToAnnotations, 150);
        }
      },

      sortAnnotations: function (unsorted) {
        return unsorted.sort(function (a, b) {
          var pa = a.page === undefined || a.page == null ? -1 : a.page;
          var pb = b.page === undefined || b.page == null ? -1 : b.page;

          if (pa !== pb)
            return pa - pb;

          if (a.yStart !== b.yStart)
            return a.yStart - b.yStart;

          if (a.xStart !== b.xStart)
            return a.xStart - b.xStart;

          return a.id - b.id;
        });
      },

      addLocationToAnnotations: function() {
        if (this.inAddLocationToAnnotations)
            return;

        try {
            this.inAddLocationToAnnotations = true;
            var last_bottom = 0;

            for (var i = 0; i < this.sorted_annotations.length; i++) {
              var a = this.sorted_annotations[i];
              var top = this.topForAnnotation(a);

              if (!a.new) {
                if (top < last_bottom)
                  top = last_bottom;
                last_bottom = top + this.collapsedAnnotationHeight;
              }

              top = top + 'px';
              if (top != a.top) {
                  var ii = this.annotations.indexOf(a);
                  this.set(['annotations', ii, 'list_top'], top);
              }
            }

        } finally {
            this.inAddLocationToAnnotations = false;
        }
      },

      topForAnnotation: function (annotation) {
        var page_no = annotation.page;

        if (page_no === undefined || page_no === null) {
          return 0;

        } else {
          var y = annotation.yStart;
          var t = this.firstPageOffset + this.pageHeight * page_no + this.pageHeight * y + this.pageSpacing * (page_no - 1);
          return Math.max(t, 0);
        }
      },

      annotationOpened: function (event, element) {
        this.collapseAnnotations(element);
      },

      annotationClosed: function (event, element) {
        if (element.annotation.new) {
          var index = this.annotations.indexOf(element.annotation);
          if (index >= 0)
            this.splice('annotations', index, 1);
        }
      },

      annotationAdded: function (event, annotation) {
        this.push('annotations', annotation);
      },

      collapseAnnotations: function (exclude) {
        var annotations = Polymer.dom(this.$.list).querySelectorAll('oj-annotation');
        [].forEach.call(annotations, function (annotation) {
          if (annotation != exclude)
            annotation.close();
        });
      },

      _computeStyle: function (annotation) {
        return this.styleObject({
            top:     annotation.list_top,
            display: 'block'
        });
      },

      behaviors: [
        Oj.globalExpressions
      ]

    });
  </script>
</dom-module>
