<dom-module id="oj-assigned-users-list">

  <template>

      <div class="user-block">
          <div class="user-header">Submittor</div>
          <template is="dom-repeat"
                    items="{{sortedAssignments}}"
                    filter="isSubmittor"
                    as="assignment">
              <oj-user-tag assignment="{{assignment}}"></oj-user-tag>
          </template>
      </div>

      <div class="user-separator"></div>

      <div class="user-block">
          <div class="user-header">Editor</div>
          <template is="dom-repeat"
                    items="{{sortedAssignments}}"
                    filter="isEditor"
                    as="assignment">
              <oj-user-tag assignment="{{assignment}}"></oj-user-tag>
          </template>
      </div>

      <div class="user-separator"></div>

      <div class="user-block">
          <div class="user-header">Reviewers</div>
          <template is="dom-repeat"
                    items="{{sortedAssignments}}"
                    filter="isReviewer"
                    as="assignment">
              <oj-user-tag assignment="{{assignment}}"
                           showcompleted="{{showCompleted}}"
                           removable="{{editable}}"
                           on-remove-user="removeReviewer"></oj-user-tag>
          </template>

          <oj-user-tag assignment="{{anonymousReviewersTag(paper.assigned_users)}}"></oj-user-tag>

          <template is="dom-if" if="{{editable}}">
              <div class=add_reviewer>+ Add a Reviewer:</div>
              <oj-user-lookup placeholder=" + Add a Reviewer"
                              on-user-selected="addReviewer"
                              on-filter-suggestions="filterReviewerList"></oj-user-lookup>
          </template>

      </div>

    <api-request id="addReviewer"    method="post"   on-success="updateReviewers"></api-request>
    <api-request id="removeReviewer" method="delete" on-success="updateReviewers"></api-request>

      <style>

          .user-block     {
          }

          .user-header    {
              font-family: Roboto;
              color:       #c0cbcf;
              font-size:   20px;/* Approximation due to font substitution */
              font-weight: 500;
          }

          oj-user-tag, oj-user-lookup {
          }

          .user-separator {
              margin:              12px 0;
              box-sizing:          border-box;
              border-top:          1px solid #a0a0a0;
              height:              0;
              width:               100%;
          }

          .add_reviewer {
              margin-top:  12px;
              font-family: Roboto;
              color:       #54d1b8;
              font-size:   20px;/* Approximation due to font substitution */
              font-weight: 500;
          }

      </style>


  </template>

  <script>
    Polymer({
      is: 'oj-assigned-users-list',

      properties: {
        user:           {
            notify: true
        },
        paper:          {
            notify: true
        },
        submitted:      {
            notify: true
        },
        underReview:   {
            notify: true
        },
        showCompleted: {
            notify: true
        },
        editable:       {
            notify: true
        },
        sortedAssignments: {
            type:   Array,
            notify: true,
            computed: 'sortAssignments(paper.assigned_users)'
        }
      },

      observers: [
        'modelsChanged(paper, user)'
      ],

      modelsChanged: function() {
        var can_edit        = this.user && ( this.user.admin || this.hasRole(this.paper, 'editor') );
        this.submitted      = this.paper && this.paper.state == 'submitted';
        this.underReview    = this.paper && this.paper.state == 'under_review';
        this.showCompleted  = this.paper && can_edit && (this.paper.state == 'under_review' || this.paper.state == 'review_completed');
        this.editable       = this.submitted && can_edit;
      },

      userColor: function(assignment) {
        assignment = Oj.paperHelpers.assignmentFromSha(this.paper, assignment.sha);
        return Oj.colors.userColor(assignment);
      },

      removeReviewer: function(event, assignment) {
        this.set('$.removeReviewer.api', Oj.api.removeAssigneeApi(this.paper, assignment));
        this.$.removeReviewer.go();
      },

      addReviewer: function(event, user) {
        this.set('$.addReviewer.api', Oj.api.addAssigneeApi(this.paper, user));
        this.$.addReviewer.go();
      },

      updateReviewers: function(event, detail) {
        this.set('paper.assigned_users', detail);
      },

      filterReviewerList: function(event, suggestions) {
          event.result = suggestions;
          return;
        var paper = this.paper;
        event.result = suggestions.filter(function (item) {
          for (var i = 0; i < paper.assigned_users.length; i++) {
            var assignment = paper.assigned_users[i];
            var user = assignment.user;
            if (user.sha == item.sha)
              return false;
          }
          return true;
        });
      },

      // Create a 'User' object that is used to display anonymous reviewers
      anonymousReviewersTag: function(assigned_users) {
        if (!assigned_users)
          return {};

        var total_reviewers = 0, anonymous_reviewers = 0;
        for (var i = 0; i < assigned_users.length; i++) {
          var assignment = assigned_users[i];
          if (assignment.role == 'reviewer') {
            total_reviewers = total_reviewers + 1;
            if (!assignment.user)
              anonymous_reviewers = anonymous_reviewers + 1;
          }
        }

        if (anonymous_reviewers) {
          var text = 'and ' + anonymous_reviewers.toString();
          if (total_reviewers > anonymous_reviewers)
            text = text + ' more';
          text = text + ' Reviewer';
          if (anonymous_reviewers > 1)
            text = text + 's';

          return {
            role: 'reviewer',
            text: text
          };

        } else {
          return {};

        }
      },

      isSubmittor: function(assignment) {
          return assignment.role == 'submittor';
      },

      isEditor: function(assignment) {
          return assignment.role == 'editor';
      },

      isReviewer: function(assignment) {
          return assignment.role == 'reviewer';
      },

      behaviors: [
          Oj.paperHelpers
      ]

    });
  </script>
</dom-module>
