<polymer-element name='oj-annotation-comments' attributes="paper annotation">
  <template>

      <template if={{annotation.responses.length}}>
          <div class='comments'>
              <template repeat="{{comment in annotation.responses}}">
                  <div layout horizontal>
                      <oj-user-label assignment={{comment.assignment|getAssignment}}></oj-user-label>
                      <markdown-content class=comment flex markdown="{{comment.body}}"></markdown-content>
                  </div>
              </template>
          </div>
      </template>

      <template if={{newCommentVisible}}>
          <core-a11y-keys keys="esc" on-keys-pressed={{dismissNewComment}}></core-a11y-keys>
          <core-a11y-keys keys="shift+enter" on-keys-pressed={{submitComment}}></core-a11y-keys>

          <markdown-text-area id=replyTextArea placeholder="Add a comment" value="{{text}}"></markdown-text-area>

          <div layout horizontal end-justified class='controls'>
              <paper-button disabled?={{!text||$.newCommentRequest.loading}} on-click={{submitComment}}  icon="add">Add</paper-button>
              <paper-button disabled?={{$.newCommentRequest.loading}} on-click={{dismissNewComment}} icon="close">Cancel</paper-button>
          </div>
      </template>

      <template if="{{!newCommentVisible && paper.can_annotate}}">
          <div layout horizontal>
              <span flex></span>
              <paper-button on-click= {{showNewComment}} icon='reply'>Reply</paper-button>
          </div>
      </template>

    <style>

      .comments {
          box-sizing: border-box;
          padding: 10px 0 0 0;
          font-size: 0.9em;
      }

      .comments markdown-content::shadow #renderedContent{
        background-color: white;
        padding: 10px;
        margin-bottom: 5px;
      }

      .comment {
      }

      markdown-text-area {
          width: 100%;
      }
      markdown-text-area::shadow a.toggle {
          bottom: -26px;
          right:  154px;
          color:  #888;
          text-transform: lowercase;
      }
      markdown-text-area::shadow markdown-content::shadow #renderedContent {
          padding: 4px;
          min-height: 40px;
      }

      oj-user-label {
          margin-bottom: 5px;
          box-shadow: 4px 0 0 white; /* Make the right border white */
      }

    </style>

    <core-ajax id="newCommentRequest"
               url="{{paper | addIssuePath}}"
               method="POST"
               contentType="application/json"
               handleAs=json
               on-core-response={{commentSaved}}
               on-core-error={{commentError}}></core-ajax>

  </template>

  <script>
    Polymer({

      /***** API *******/

      showNewComment:function(){
            this.newCommentVisible = true;
            this.async( function() {
                var edit = this.shadowRoot.querySelector('#replyTextArea');
                edit.focus();
                edit.select();
                this.asyncFire('new-comment-shown');
            });
      },

      /******** Polymer *******************/

      newCommentVisible: false,

      /*************************/

      dismissNewComment:function(){
        this.newCommentVisible = false;
      },

      submitComment:function(){
        if (this.$.newCommentRequest.loading)
            return;
        if (!this.text)
            return;

        this.$.newCommentRequest.body = this.responseParams();
        this.$.newCommentRequest.go();
      },

      commentSaved:function(e){
        this.fire("notification", "Reply saved");
        this.annotation.responses.push(e.detail.response);
        this.newCommentVisible = false;
        this.text = '';
      },

      responseParams:function(){
        var params = {
          annotation:{
            body:      this.text,
            page:      this.annotation.page,
            parent_id: this.annotation.id
          }
        };

        return JSON.stringify(params)
      },

      commentError:function(){
        this.fire("notification", "Error saving reply")
      },

      getAssignment: function(assignment) {
        return Oj.paperHelpers.assignmentFromSha(this.paper, assignment);
      }

    })
  </script>
</polymer-element>
