<dom-module id="oj-annotation-marker">

  <style>
          iron-icon {
            display:      block !important;
            stroke-width: 2px;
            transition:   all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.575);
          }
          iron-icon.closed {
            height:       8px;
            width:        8px;
            margin-top:   -4px;
            margin-left:  -4px;
            cursor:       pointer;
          }
          iron-icon.closed:hover {
              stroke-width: 3px;
              height:       10px;
              width:        10px;
              margin-top:   -5px;
              margin-left:  -5px;
          }
          iron-icon.open {
            height:       16px;
            width:        16px;
            margin-top:   -8px;
            margin-left:  -8px;
            cursor:       default;
          }

    </style>

  <template>
        <iron-icon icon="custom-icons:selected" on-click="annotationClicked" title="{{stripped(annotation.body)}}" class$="{{_computeClass(annotation)}}"></iron-icon>
  </template>

  <script>
    Polymer({
      is: 'oj-annotation-marker',
      properties: { annotation: { notify: true } },
      annotationClicked: function (event, detail) {
        event.preventDefault();
        event.stopPropagation();
        this.set('annotation.open', true);
      },
      stripped: function (markdown) {
        return stripped_markdown(markdown);
      },
      _computeClass: function (annotation) {
        return annotation.open ? 'open' : 'closed' + ' state-' + annotation.state;
      }
    });
  </script>
</dom-module>
