<polymer-element name="oj-editor-paper-controls" attributes='paper router'>
  <template>

    <div flex layout horizontal>

      <div layout vertical flex>
        <div layout horizontal>
          <div class="label">Reviewers:</div>
          <div>
            <template if={{submitted}}>
                <oj-user-lookup placeholder="Add Reviewer"
                                on-user-selected={{addReviewer}}
                                on-filter-suggestions={{filterReviewerList}}
                        ></oj-user-lookup>
            </template>
            <template repeat="{{reviewer in paper.reviewers}}">
                <oj-user-tag user={{reviewer}} removable={{submitted}} on-remove-user={{removeReviewer}}></oj-user-tag>
            </template>
            <template if="{{!submitted && !paper.reviewers}}">
                This paper does not have any reviewers.
            </template>
          </div>
        </div>
      </div>

    </div>

    <style>
      :host{
        box-sizing: border-box;
        padding: 6px 4px 0 4px;
        width : 100%;
        display: block;
        margin:0;
        margin-bottom: -4px;
        background: #6374cf;
      }
      .label {
          color: white;
          padding-right: 8px;
          padding-top:   2px;
      }
      #status {
        margin-right:60px
      }
      oj-user-tag, oj-user-lookup {
        margin-right: 10px;
        margin-bottom: 10px;
      }
      #status paper-button {
          margin-top: 5px;
          line-height: 0;
          padding 1px 0 2px 0;
      }
    </style>

    <json-post   id=addReviewer    on-success={{updateReviewers}} ></json-post>
    <json-delete id=removeReviewer on-success={{updateReviewers}} ></json-delete>

  </template>

  <script>
    Polymer({
      paperChanged: function() {
        this.submitted = this.paper && this.paper.state == 'submitted';
      },
      removeReviewer:function(event, user){
        this.$.removeReviewer.url = Oj.urls.removeReviewerPath(this.paper, user);
        this.$.removeReviewer.go();
      },
      addReviewer:function(event, user){
        this.$.addReviewer.url = Oj.urls.addReviewerPath(this.paper, user);
        this.$.addReviewer.go();
      },
      updateReviewers:function(event, detail){
        this.paper.reviewers = detail.reviewers;
      },

      filterReviewerList: function(event, suggestions) {
          var paper = this.paper;
          var reviewers = paper.reviewers;

          event.result = suggestions.filter( function(item) {

              if (paper.user && paper.user.sha == item.sha)
                return false;

              for (var i=0; i<reviewers.length; i++) {
                  if (reviewers[i].sha == item.sha)
                    return false;
              }

              return true;
          });
      }
    })
  </script>

</polymer-element>
