<dom-module id="oj-main-menu">
  <style>

            :host {
                background-color: white;
            }

            core-menu {
                font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            }

            core-menu /deep/ #drawer{
                background-color: #7986CB;
            }

        </style>
  <template>

        <paper-menu id="mainMenu" selected="{{selectedMenuItem}}" valueattr="id" class="main-menu">

            <paper-item id="recent" undefined="Recent Papers">
                <a is="pushstate-anchor" href="/" target="_self"></a>
            </paper-item>

            <template is="dom-if" if="{{currentUser}}">

                <paper-item id="submitted" undefined="Papers You Submitted">
                    <a is="pushstate-anchor" href="/submitted" target="_self"></a>
                </paper-item>

                <paper-item id="review" undefined="Papers You Are Reviewing">
                    <a is="pushstate-anchor" href="/review" target="_self"></a>
                </paper-item>

                <template is="dom-if" if="{{currentUser.editor}}">

                    <paper-item id="editing" undefined="Papers You Are Editing">
                        <a is="pushstate-anchor" href="/editing" target="_self"></a>
                    </paper-item>

                </template>

                <paper-item id="submit" undefined="Submit">
                    <a is="pushstate-anchor" href="/submit" target="_self"></a>
                </paper-item>

                <paper-item id="settings" undefined="Settings">
                    <a is="pushstate-anchor" href="/settings" target="_self"></a>
                </paper-item>

            </template>

            <paper-item id="about" undefined="About">
                <a is="pushstate-anchor" href="/about" target="_self"></a>
            </paper-item>

        </paper-menu>

    </template>
  <script>
    Polymer({
      is: 'oj-main-menu',
      properties: {
        currentUser: { notify: true },
        route: { observer: 'routeChanged' }
      },
      // External API
      routeChanged: function (_, detail) {
        var section;
        if ($.isPlainObject(detail)) {
          section = detail.instance && detail.instance.getSectionName && detail.instance.getSectionName();
          if (!section)
            section = this.sectionFromPath(detail.path);
        } else {
          section = this.sectionFromPath(detail);
        }
        // Make sure any other menu tap events are handled first
        if (section != 'none') {
          this.async(function () {
            this.selectedMenuItem = section || 'recent';
          });
        }
      },
      ////////////////////////////////////////////////////////////////////////////////////////////
      sectionFromPath: function (path) {
        if (path == '/')
          return '';
        else if (path)
          return path.split('/')[1] || path;
        else
          return undefined;
      }
    });
  </script>
</dom-module>
