<polymer-element name="oj-new-annotation" attributes='location paper'>
<template>
  <div id=container layout vertical center-center>
    <textarea id=commentTextArea class='niceTextArea' value="{{text}}" placeholder="Add an issue..."> </textarea>

    <div layout horizontal end-justified class='controls'>
      <paper-icon-button disabled?={{!text}} on-click={{submit}}  icon="add"></paper-icon-button>
      <paper-icon-button on-click={{dismiss}} icon="close"></paper-icon-button>
    </div>
  </div>


  <json-post id="saveRequest"
            url="{{paper | paperAnnotationsPath}}"
            on-success={{saved}}
            on-error={{error}}></json-post>
  <style>
    :host{
      z-index:1;
      height:210px;
      background-color:#607D8B;
      padding: 20px;
      min-height:100px;
      position:absolute;
      box-sizing:border-box;
      width:100%;
      left:0;
    }
    textarea{
      resize: none;
      height: 100%;
      min-height:130px;
      width: 100%;
      padding: 8px;
      border: 1px solid #cccccc;
      line-height: 130%;
      font-size: 13px;
    }
    paper-autogrow-textarea{

    }
    .controls{
      width: 100%;
    }
    paper-icon-button{
      color:white;
    }
  </style>
</template>

<script>
  Polymer({
    /* External API */
    close:function(){
        this.dismiss();
    },
    /***********************/
    submit: function(){
      this.$.saveRequest.data = this.annotationData();
      this.$.saveRequest.go()
    },
    dismiss:function(){
      this.fire("new-annotation-box-dismissed",{})
    },
    saved:function(event, response){
      this.fire("annotation-added", response);
      this.fire("notification", "Annotation saved.");
      this.dismiss()
    },
    error:function(response){
      this.fire("notification", "Could not save annotation.")
    },
    annotationData:function(){
      return {
        annotation:{
          body: this.text,
          page: this.location.page,
          xStart: this.location.xStart,
          yStart: this.location.yStart
        }
      };
    },
    domReady: function() {
        this.fire("annotation-opened", this);
        this.async( function() {
            var root = this.shadowRoot;
            root.querySelector('#container').scrollIntoView();
            root.querySelector('#commentTextArea').focus();
        });
    }

  })
</script>
</polymer-element>
