<polymer-element name="oj-new-annotation" attributes='location paper text visible' >
<template>

  <div layout vertical center-center>
    <core-a11y-keys keys="esc" on-keys-pressed={{dismiss}}></core-a11y-keys>
    <core-a11y-keys keys="shift+enter" on-keys-pressed={{submit}}></core-a11y-keys>

    <markdown-text-area id=commentTextArea placeholder="Add an issue" value="{{text}}"></markdown-text-area>

    <div layout horizontal end-justified class='controls'>
       <paper-icon-button disabled?={{!text}} on-click={{submit}}  icon="add"></paper-icon-button>
       <paper-icon-button on-click={{dismiss}} icon="close"></paper-icon-button>
    </div>
  </div>

  <style>

    :host{
      z-index:1;
      background-color:#607D8B;
      padding: 10px 10px 0 10px;
      position:absolute;
      box-sizing: border-box;
      width:100%;
      left:0;
      display: none;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
    }

    markdown-text-area {
      width: 100%;
    }
    markdown-text-area::shadow a.toggle {
        bottom: -28px;
        right:  88px;
        color:  #eee;
    }
    markdown-text-area::shadow markdown-content::shadow  #renderedContent {
        padding: 4px;
        min-height: 40px
    }

    .controls{
      width: 100%;
    }

    paper-icon-button{
      color:white;
    }

  </style>

  <json-post id="saveRequest"
             url="{{paper | paperAnnotationsPath}}"
             on-success={{saved}}
             on-error={{error}}></json-post>

</template>

<script>
  Polymer({
    /* External API */
    close:function(){
        this.dismiss();
    },
    open: function(location) {
        this.location = location;
        this.visible  = true;
        this.async( function() {
            var textarea = this.shadowRoot.querySelector('#commentTextArea');
            if (textarea) {
                textarea.focus();
                textarea.select();
            }
        });
        this.asyncFire("annotation-opened", this);
    },
    /***********************/
    visibleChanged: function() {
      this.style.display = this.visible ? 'block' : 'none';
    },
    submit: function(){
      if (!this.text)
        return;
      this.$.saveRequest.data = this.annotationData();
      this.$.saveRequest.go()
    },
    dismiss:function(){
      this.visible = false;
    },
    saved:function(event, response){
      this.fire("annotation-added", response);
      this.fire("notification", "Annotation saved.");
      this.text = '';
      this.dismiss();
    },
    error:function(response){
      this.fire("notification", "Could not save annotation.")
    },
    annotationData:function(){
      return {
        annotation:{
          body: this.text,
          page: this.location.page,
          xStart: this.location.xStart,
          yStart: this.location.yStart
        }
      };
    }

  })
</script>

</polymer-element>
