<polymer-element name="oj-new-annotation" attributes='location paper'>
<template>
  <div layout vertical center-center>
    <markdown-text-area placeholder="Add an issue" value="{{text}}"></markdown-text-area>

    <div layout horizontal end-justified class='controls'>
      <paper-icon-button on-click={{submit}}  icon="add"></paper-icon-button>
      <paper-icon-button on-click={{dismiss}} icon="close"></paper-icon-button>
    </div>
  </div>


  <json-post id="saveRequest"
            url="{{paper | paperAnnotationsPath}}"
            on-success={{saved}}
            on-error={{error}}></json-post>
  <style>
    :host{
      z-index:1;
      height:210px;
      background-color:#607D8B;
      padding: 20px;
      min-height:100px;
      position:absolute;
      box-sizing: border-box;
      width:100%;
      left:0;
    }

    markdown-text-area{
      width: 100%;
      height: 70%;
    }

    paper-autogrow-textarea{

    }
    .controls{
      width: 100%;
    }
    paper-icon-button{
      color:white;
    }
  </style>
</template>

<script>
  Polymer({
    submit: function(){
      this.$.saveRequest.data = this.annotationData();
      this.$.saveRequest.go()
    },
    dismiss:function(){
      this.fire("new-annotation-box-dismissed",{})
    },
    saved:function(response){
      this.fire("annotation-added", response.detail.response);
      this.fire("notification", "Annotation saved.");
      this.dismiss()
    },
    error:function(response){
      this.fire("notification", "Could not save annotation.")
    },
    annotationData:function(){
      var params = {
        annotation:{
          body: this.text,
          page: this.location.page,
          xStart: this.location.xStart,
          yStart: this.location.yStart
        }
      };
      return params
    }
  })
</script>
</polymer-element>
