<dom-module id="oj-paper-icon">
  <template>
    <paper-item undefined="{{paper.title}}" vertical="">
      <a target="_self" href$="{{_computeHref(paper)}}"></a>
    </paper-item>
  </template>
  <script>
    Polymer({
      is: 'oj-paper-icon',
      properties: { paper: { notify: true } },
      icon_for_paper: function (paper) {
        paper_icon_options = {
          submitted: 'paper_submit',
          accepted: 'paper_accepted',
          view: 'paper_view'
        };
        icon = paper_icon_options[this.paper.state];
        if (!icon) {
          icon = paper_icon_options.view;
        }
        return icon;
      },
      _computeHref: function (paper) {
        return '/vendor/assets/javascripts#/review/' + paper.sha;
      }
    });
  </script>
</dom-module>
