<dom-module id="oj-paper-row">

  <style>

    .row {
      padding:       0;
      cursor:        pointer;
      border-bottom: 1px solid #c2c2c2;
      color:         black;
    }
    .inner {
        width:       100%;
        margin:      10px 0;
    }
    .inner:hover {
        background-color: #fcfcfc;
    }

    .title {
        font-size:    18px;
        font-weight:  700;
        line-height:  24px;
    }

    .detail {
        font-size:    12px;
        color:        rgb(125, 125, 125);
    }

    .highlight {
        font-weight: 700;
        color:       rgb(81, 81, 81);
    }

    .rhs {
        width:        140px;
        height:       100%;
        text-align:   left;
        position:     relative;
        font-size:    12px;
    }

    .status {
        left:   0;
        bottom: 0;
    }

  </style>
  <template>
  <div class$="{{_computeClass(paper)}}">
      <div class="inner layout horizontal">
          <div class="lhs layout flex">
              <div class="title">{{paper.title}}</div>
              <div class="detail">
                  Submitted by <span class="highlight">{{paper.submittor.name}}</span>
                  on <span class="highlight">{{date ( paper.submitted_at)}}</span>
                  <template is="dom-if" if="{{_computeIf(paper)}}">
                  | Comments: <span class="highlight">{{paper.pending_issues_count}}</span>
                  </template>
              </div>
          </div>
          <div class$="{{_computeClass2(paper)}}">
              <div class="status">Status: <span class="highlight">{{capitalize(paper.state)}}</span></div>
          </div>
      </div>
  </div>
</template>
  <script>
    Polymer({
      is: 'oj-paper-row',
      properties: { paper: { notify: true } },
        _computeIf: function (paper) {
            return paper.state == 'under_review';
        },
      _computeClass: function (paper) {
        return 'row ' + this.actionForPaper(paper) + ' layout flex';
      },
      _computeClass2: function (paper) {
        return 'rhs action-' + this.actionForPaper(paper) + ' layout self-end';
      }
    });
  </script>
</dom-module>
