<polymer-element name="oj-review-page-actions" attributes='user paper' layout vertical>
  <template>

      <div layout horizontal>

          <template if="{{paper.current_role=='editor'}}">
              <paper-button id=start-review raised hidden?="{{paper.state!='submitted'}}" disabled?={{paper.reviewers.length==0}} on-tap="{{startReviewClick}}" >
                  <core-icon icon=delete></core-icon>
                  Start Review
              </paper-button>
              <paper-button id=delete raised hidden?="{{ptrue || paper.state!='submitted'}}" on-tap="{{deleteClick}}" >
                  <core-icon icon=arrow-forward></core-icon>
                  Delete Paper
              </paper-button>
              <paper-button id=accept raised hidden?="{{false && paper.state!='review_completed'}}" on-tap="{{acceptClick}}" >
                  <core-icon icon=thumb-up></core-icon>
                  Accept
              </paper-button>
              <paper-button id=reject raised hidden?="{{paper.state!='under_review' && paper.state!='review_completed'}}" on-tap="{{rejectClick}}" >
                  <core-icon icon=thumb-down></core-icon>
                  Reject
              </paper-button>
          </template>

          <template if="{{paper.current_role=='submittor'}}">
              <paper-button id=check-for-update raised hidden?="{{paper.state!='submitted' && paper.state!='under_review'}}" on-tap="{{checkForUpdateClick}}" >
                  <core-icon icon=refresh></core-icon>
                  Check for Update
              </paper-button>
          </template>

          <template if="{{ paper.current_role=='reviewer'}}">
              <paper-button id=mark-review-complete raised hidden?="{{false && paper.state!='under_review' || paper.current_assignment.completed}}" on-tap="{{markReviewCompleteClick}}" >
                  <core-icon icon=check></core-icon>
                  Completed Review
              </paper-button>
              <paper-button id=make-name-public raised hidden?="{{paper.state=='superceded' || paper.current_assignment.public}}" on-tap="{{makePublicClick}}" >
                  <core-icon icon=perm-identity></core-icon>
                  Make Public
              </paper-button>
              <paper-button id=hide-name-public raised hidden?="{{paper.state=='superceded' || !paper.current_assignment.public}}" on-tap="{{makePublicClick}}" >
                  <core-icon icon=perm-identity></core-icon>
                  Hide Public
              </paper-button>
          </template>

      </div>

    <style>
      paper-button {
          margin-top: 5px;
          line-height: 0;
          padding 1px 0 2px 0;
      }
      paper-button core-icon {
          width: 16px !important;
          height: 16px !important;
          padding: 0;
          margin-top: -8px;
          margin-bottom: -8px;
          margin-right: 4px;
      }
      #accept, #start-review, #mark-review-complete {
        background: green;
      }
      #reject, #hide-name-public, #delete {
        background: #800000;
      }
      #check-for-update, #make-name-public {
        background: #000080;
      }
      paper-button:not([disabled]):hover {
        opacity:    0.8;
        transition: opacity 0.2s;
      }
      paper-button[disabled] {
        background: gray !important;
        color:      white;
      }
    </style>

    <paper-action-dialog id=dialog backdrop layered=false>
        <p></p>
        <paper-button affirmative></paper-button>
        <paper-button dismissive autofocus>Cancel</paper-button>
    </paper-action-dialog>

    <json-put  id=statusChangeRequest on-success={{statusChangeRequestSuccess}}></json-put>
    <json-put  id=updateRequest       on-success={{updateRequestSuccess}}  on-error={{requestError}}></json-put>
    <json-post id=completedRequest    on-success={{completedRequestSuccess}}  on-error={{requestError}}></json-post>
    <json-req  id=publicRequest       on-error={{requestError}}></json-req>

  </template>

  <script>
    Polymer({
      paperChanged: function() {
        this.submitted = this.paper && this.paper.state == 'submitted';
      },

      startReviewClick:function() {
          this.changeState('start_review',
                           'Do you really want to start reviewing this paper?',
                           'Start Review',
                           'Thank You. The paper will now be available for review.'
          );
      },
      acceptClick:function() {
          this.changeState('accept',
                           'Do you really want to accept this paper?<br/>This will close all open issues and mark the paper as accepted.',
                           'Accept',
                           'The paper has been accepted.'
          );
      },
      rejectClick:function() {
          this.changeState('reject',
                           'Do you really want to reject this paper?',
                           'Reject',
                           'The paper has been rejected.'
          );
      },

      markReviewCompleteClick: function() {
          this.showDialog('Do you really want to mark this paper as completed?', 'Mark Completed', function() {
              var url = Oj.urls.paperCompletePath(this.paper);
              var $request = this.$.completedRequest;

              $request.url = url;
              $request.go();
          });
      },

      completedRequestSuccess: function(event, detail) {
          var message = 'You have finished reviewing the paper.';
          this.fire('notification', message);
          this.paper = detail;
      },

      makePublicClick: function(event, detail, target) {
          var make_public = target.id=='make-name-public';
          var html = make_public ? 'Do you really want to make your name public?'
                                 : 'Do you really want to hide your public name?';
          var button = make_public ? 'Make Name Public' : 'Hide Name';


          this.showDialog(html, button, function() {
              var $request = this.$.publicRequest;
              var url = Oj.urls.paperMakePublicPath(this.paper, make_public);
              $request.url = url;
              $request.method = make_public ? 'post' : 'delete';

              $request.go(function(event, detail) {
                  var msg = make_public ? 'Your name has been made public.'
                                        : 'Your name has now been hidden';
                  this.fire('notificaion', msg);
                  this.paper = detail;
              }.bind(this) );
          });
      },

      makePublicClick: function() {
        this.showDialog('Do you want to delete this paper?<br/>'+
                        'All versions of the paper will be permanently removed from the system.',
                        'Delete Paper', function() {
            var $request = this.$.deleteRequest;
            $request.url = Oj.urls.paperPath(this.paper);

            $request.go(function(event, detail) {
                var msg = 'The paper has been deleted';
                this.fire('notificaion', msg);
                this.go('/');
            }.bind(this) );
        });
      },

      checkForUpdateClick: function() {
          var $request = this.$.updateRequest;
          $request.url = Oj.urls.paperCheckForUpdatePath(this.paper);
          $request.go();
      },

      updateRequestSuccess: function(event, detail) {
          var message = 'We have retrieved version ' + detail.version + ' of your document.';
          this.fire('notification', message);
          this.fire('go', '/review/' + detail.sha);
      },

      showDialog: function(html, buttonText, onSuccess) {
          var $dialog = this.$.dialog;
          var $content = $dialog.querySelector('p');
          $content.innerHTML = html;

          var $button = $dialog.querySelector('paper-button[affirmative]');
          $button.innerHTML = buttonText;
          $($button).off('tap');
          $($button).on('tap', onSuccess.bind(this) );

          $dialog.open();
      },

      changeState: function(newState, html, buttonText, successMessage) {

          this.showDialog(html, buttonText, function() {
              this.successMessage = successMessage;

              var url = Oj.urls.paperTransitionPath(this.paper, newState);
              var $request = this.$.statusChangeRequest;

              $request.url = url;
              $request.go();
          });

      },

      statusChangeRequestSuccess: function(event, detail) {
          this.fire('notification', this.successMessage);
          this.fire('go', '/papers');
      },

      requestError: function(event, detail) {
          this.fire('notification', Oj.utils.errorMessage(detail) );
      }

    })
  </script>

</polymer-element>
