<polymer-element name="oj-review-page-header" attributes='user paper annotations loadProgress' relative layout horizontal>
  <template>

      <div class=left flex layout vertical>
          <div class=title-row layout horizontal>

              <div flex class=title>{{paper.title}}</div>

              <div self-start>
                  <paper-dropdown-menu on-core-activate={{versionSelected}}>
                      <paper-dropdown class=dropdown>
                          <core-menu id=versionMenu valueAttr=version selected={{paper.typed_provider_id}}>
                              <template repeat="{{version in paper.versions}}">
                                  <paper-item version={{version.typed_provider_id}}>{{version.typed_provider_id | providerPart}}</paper-item>
                              </template>
                          </core-menu>
                      </paper-dropdown>
                  </paper-dropdown-menu>
              </div>

          </div>

          <div id=assignments-row>
              <oj-assigned-users-list paper={{paper}}></oj-assigned-users-list>
          </div>

          <div id=status-row layout horizontal>

              <div class=status-block>
                  <div class=label>Status:</div>
                  <div class=status>{{paper.state | capitalize}}</div>
              </div>

              <div class=count-block>
                  <div class=count>{{countOpen}}</div>
                  <div class=label>Open<br/>Issues</div>
              </div>

              <oj-review-page-actions
                      flex
                      user={{user}}
                      paper={{paper}}
                      ></oj-review-page-actions>

          </div>

      </div>

      <template if={{paper.can_annotate}}>
          <div class=right layout vertical self-stretch>

              <div id=add-paper-annotation>
                  <paper-button raised on-tap="{{addPaperAnnotation}}">
                      <div class=icon-wrapper><core-icon icon=add></core-icon></div>
                      <div class=text-wrapper>Add a comment about the entire paper</div>
                  </paper-button>
              </div>

          </div>
      </template>

      <template if={{loadProgress < 100}}>
          <paper-progress class=progress value="{{loadProgress}}"></paper-progress>
      </template>

    <style>

        :host {
            box-sizing:    border-box;;
        }

        .left {
            background:    rgb(230, 230, 230);;
            padding:       20px 20px 0px 20px;
        }

        #title-row {
        }
        .title {
            color:     #7d7d7d;
            font-size: 20px;
        }

        paper-dropdown-menu {
            font-size:    12px;
            border:       none;
            padding:      0;
            margin:       0;
            padding-left: 4px;
            width:        90px;
            color:        #9a9a9a;
            top:          -14px;
        }
        paper-item {
            font-size: 12px;
            margin:    0;
            padding:   0;
        }
        paper-item::shadow .button-content {
            padding: 0 0 0 4px;
        }
        paper-dropdown-menu::shadow core-icon {
            margin: -4px;
        }
        paper-dropdown-menu::shadow #arrow {
            position:  absolute;
            left:      0;
            top:       3px;
            color: #9a9a9a;
        }
        paper-dropdown-menu::shadow #label {
            position:  absolute;
            left:      16px;
            top:       4px;
        }
        core-menu {
            margin: 0;
        }

        #assignments-row {
            margin: 8px 0px;
        }

        #status-row {
            margin-top: 12px;
        }

        .status-block {
            border-right: solid 1px #bbb;
            padding: 0 20px 0 0;
            color: #7d7d7d;
        }
        .status-block .label {
            font-size: 12px;
            font-weight: 700;
        }
        .status-block .status {
            font-size:   14px;
            font-weight: 400;
        }

        .count-block {
            border-right: solid 1px #bbb;
            padding: 0 20px;
            color: #7d7d7d;
        }
        .count-block .count {
            font-size:    36px;
            float:        left;
            margin:       -4px 4px 0 0;
        }
        .count-block .label {
            font-size: 14px;
            font-weight: 400;
            float:     left;
        }

        oj-review-page-actions {
            margin-left: 8px;
        }

        .progress {
            position: absolute;
            width:    100%;
            left:     0;
            right:    0;
            bottom:   0;
        }

        .right {
            background: white;
            width:      350px; /* Match width of annoations list */
        }

        #add-paper-annotation {
            box-sizing:    border-box;
            margin:        12px 18px 0 12px;
            height:        60px;
            border-bottom: solid 2px #eee;
        }
        #add-paper-annotation paper-button {
            font-size:     10px;
            color:         #295675;
            line-height:   20px;
            text-align:    center;
            border:        1px solid #295675;
            border-radius: 5px;
            background:    white;
            box-shadow:    0 4px 0 0 rgba(218, 218, 218, 0.1);
            overflow:      hidden;
            width:         100%;
        }
        #add-paper-annotation .icon-wrapper {
            position:   absolute;
            top:        0;
            left:       0;
            height:     40px;
            width:      40px;
            background: #295675;
        }
        #add-paper-annotation .text-wrapper {
            margin-left: 40px;
        }
        #add-paper-annotation paper-button core-icon {
            color:    white;
            margin:   4px 0 0 2px;
        }

    </style>

  </template>

  <script>
    Polymer({

        annotationsChanged: function(){
            this.updateCounts();
        },

        updateCounts: function() {
            if (!this.annotations)
                return;
            this.countNew    = this.annotations.filter(function(annotation){return annotation.new}).length;
            this.countClosed = this.annotations.filter(function(annotation){return annotation.state=='resolved'}).length;
            this.countOpen   = this.annotations.length - this.countClosed - this.countNew;
        },

        versionSelected: function(event, detail) {
            var id = this.$.versionMenu.selectedModel.version.typed_provider_id;
            if (id != this.paper.typed_provider_id)
                this.fire('review', id);
        },

        addPaperAnnotation: function(event, detail) {
            this.fire('add-paper-annotation');
        }

    })
  </script>

</polymer-element>
