
<dom-module id="oj-review-paper-info">

  <template>

      <style>

          :host {
          }

          #inner {
              box-sizing:    border-box;
              padding:       32px 0 0 20px;
              width:         100%;
          }

          paper-dropdown-menu {
              box-sizing:    border-box;
              font-size:     17px;
              font-weight:   500;
              margin:        0;
              width:         134px;
              height:        32px;
              border:        solid 2px;
              padding:       2px 0 0;
              border:        black solid 2px;

              --paper-dropdown-menu-icon: {
                  color:      black;
              };
              --paper-dropdown-menu-input: {
                padding-left: 4px;
              };
              --paper-input-container: {
                  padding: 0;
              };
              --paper-input-container-underline: {
                  display: none;
              };
              --paper-input-container-underline-focus: {
                  display: none;
              };
              --paper-menu-button-content: {
                  left:     -2px;
                  bottom:   -19px !important;
              };
          }
          paper-listbox {
              margin:       0;
              padding:      0;
              background:   #eeeeee;
          }
          paper-item {
              font-size:    17px;
              font-weight:  500;
              margin:       0;
              width:        134px;
              min-height:   0;
              padding:      2px 4px;
          }

          #version {
              margin-bottom:  20px;
          }

          .doi {
              font-size:   32px;/* Approximation due to font substitution */
              font-weight: 700;
          }

          .title {
              font-size:   32px;/* Approximation due to font substitution */
              font-weight: 700;
              /*line-height: 30px;/* Approximation due to font substitution */
              max-height:  92px;
              overflow-y:  scroll;
          }

          .authors {
              font-family: Roboto;
              font-size:   17px;/* Approximation due to font substitution */
              font-style:  italic;
              /*line-height: 22px;/* Approximation due to font substitution */
              max-height:  44px;
              overflow-y:  scroll;
          }

          .block-row {
              margin-top: 12px;
              @apply(--layout-horizontal);
          }

          .block-item {
              border-right: solid 1px #bbb;
              padding: 0 20px 0 0;
              color: #7d7d7d;
          }

          .block-item .label {
              font-size: 12px;
              font-weight: 700;
          }
          .block-item .text {
              font-size:   14px;
              font-weight: 400;
          }

          .block-item.count .label {
              font-size: 14px;
              font-weight: 400;
              float:     left;
          }
          .block-item.count .text {
              font-size:    36px;
              float:        left;
              margin:       -4px 4px 0 0;
          }

          oj-assigned-users-list {
              margin-top:  24px;
          }

          oj-review-page-actions {
              @apply(--layout);
              @apply(--layout-flex);
          }

      </style>

      <div id=inner>

          <paper-dropdown-menu id="version"
                               on-iron-select="versionSelected"
                               noink no-animations no-label-float
                               vertical-align=bottom
                               horizontal-align=left>
              <paper-listbox id="versionMenu" class="dropdown-content dropdown" attr-for-selected="version" selected="{{paper.typed_provider_id}}">
                  <template is="dom-repeat" items="{{paper.versions}}" as="version">
                      <paper-item version="{{version.typed_provider_id}}">{{providerPart(version.typed_provider_id)}}</paper-item>
                  </template>
              </paper-listbox>
          </paper-dropdown-menu>

          <template is="dom-if" if="{{paper.dio}}">
              <div class="doi">DOI: <span>{{paper.doi}}</span></div>
          </template>

          <div class="title" title="{{paper.title}}">{{paper.title}}</div>

          <div class="authors" title="{{paper.authors}}">{{paper.authors}}</div>

          <br/>

          <oj-assigned-users-list paper="{{paper}}" user="{{user}}"></oj-assigned-users-list>

          <template is="dom-if" if="{{showBottomDetails(paper, paper.state, paper.can_view_annotations)}}">
              <div class="block-row">

                  <div class="block-item status">
                      <div class="label">Status:</div>
                      <div class="text">{{capitalize(paper.state)}}</div>
                  </div>

                  <template is="dom-if" if="{{showCounts(paper, paper.state, paper.can_view_annotations)}}">
                      <div class="block-item count">
                          <div class="text">{{countOpen}}</div>
                          <div class="label">Open<br>Issues</div>
                      </div>
                  </template>

              </div>

              <oj-review-page-actions user="{{user}}" paper="{{paper}}"></oj-review-page-actions>

          </template>

      </div>

  </template>

  <script>
    Polymer({
      is: 'oj-review-paper-info',

      properties: {
        annotations: {
            type:     Array,
            notify:   true
        },
        paper: {
            notify: true
        },
        user: {
            notify: true
        }
      },

      observers: [
          'annotationsChanged(annotations.*)'
      ],

      annotationsChanged: function () {
        this.updateCounts();
      },

      showBottomDetails: function(paper) {
          return paper && paper.can_view_annotations && paper.state != 'accepted';
      },

      showCounts: function(paper) {
          return paper.state != 'submitted' && paper.state != 'accepted';
      },

      updateCounts: function () {
        if (!this.annotations)
          return;
        this.countNew = this.annotations.filter(function (annotation) {
          return annotation.new;
        }).length;
        this.countClosed = this.annotations.filter(function (annotation) {
          return annotation.state == 'resolved';
        }).length;
        this.countOpen = this.annotations.length - this.countClosed - this.countNew;
      },

      versionSelected: function (event, detail) {
        var id = detail.item.version;
        if (id != this.paper.typed_provider_id)
          this.fire('review', id);
      },

      behaviors: [
          Oj.globalExpressions,
          Oj.paperHelpers
      ]

    });
  </script>
</dom-module>
