<dom-module id="oj-reviewer-annotation-controls">

  <template>

      <div class="tools">
          <paper-icon-button id="resolve"
                             icon="icons:check-circle"
                             name="Resolve"
                             title="Resolved"
                             disabled$="{{isResolved(annotation, annotation.state)}}"
                             on-click="resolveState"></paper-icon-button>
      </div>

      <api-request id="putStateChange" method="put" on-success="putStateChangeSuccess"></api-request>

      <style>

          :host{
          }

          paper-icon-button {
              padding: 2px;
          }

          paper-icon-button {
              width:        24px;
              height:       24px;

              stroke-width: 1px;
              --iron-icon-fill-color:   white;
              --iron-icon-stroke-color: currentcolor;

              --paper-icon-button: {
                  color:        black;
              };
              --paper-icon-button-hover: {
                  color:        #54d1b8;
                  stroke-width: 2px;
              };
          }
          paper-icon-button[disabled] {
              --iron-icon-fill-color:   transparent;
              --iron-icon-stroke-color: #808080;
          }

      </style>

  </template>

  <script>
    Polymer({
      is: 'oj-reviewer-annotation-controls',

      properties: {
        annotation: {
          notify: true
        },
        paper: {
          notify: true
        }
      },

      observers: [
          'annotationChanged(paper, annotation)'
      ],

      annotationChanged: function () {
        if (!this.paper || !this.annotation)
          return;
        var own_issue = this.isOwnAnnotation(this.annotation, this.paper);
        var enabled   = this.paper.state == 'under_review' && (own_issue || this.hasRole(this.paper, 'editor'));
        enabled ? Polymer.dom(this).removeAttribute('hidden') : Polymer.dom(this).setAttribute('hidden', '');
      },

      resolveState: function(event) {
        event.preventDefault();
        this.changeState('resolve');
      },

      changeState: function (newState) {
        var api = Oj.api.paperAnnotationStateChangeApi(this.paper, this.annotation, newState);
        this.$.putStateChange.api = api;
        this.$.putStateChange.go();
      },

      putStateChangeSuccess: function (event, response) {
        $.extend(this.annotation, response);
        this.notifyPath('annotation.state');
        this.$.resolve.updateStyles();
        this.fire('annotation-changed', response);
      },

      isResolved: function (annotation) {
        return annotation.state == 'resolved';
      },

      behaviors: [
          Oj.paperHelpers
      ]

    });
  </script>
</dom-module>
