
<dom-module id="oj-review-page-header">

  <style>

        :host {
        }

        .wrap {
            @apply(--layout-relative);
            @apply(--layout-horizontal);
            background:    rgb(230, 230, 230);;
            padding:       2px 20px 2px 20px;
        }

        .title {
            color:     #7d7d7d;
            font-size: 20px;
        }

        .progress {
            position: absolute;
            width:    100%;
            left:     0;
            right:    0;
            bottom:   0;
        }

    </style>

  <template>

      <div class="wrap">

        <div class="title flex">{{paper.title}}</div>

        <template is="dom-if" if="{{showProgress(loadProgress)}}">
          <paper-progress class="progress" value="{{loadProgress}}"></paper-progress>
        </template>

      </div>

  </template>

  <script>
    Polymer({
      is: 'oj-review-page-header',

      properties: {
        loadProgress: {
            notify: true
        },
        paper: {
            notify: true
        }
      },

      showProgress: function(loadProgress) {
        return loadProgress < 100;
      },

      behaviors: [
      ]

    });
  </script>
</dom-module>
