<polymer-element name="oj-review-page-actions" attributes='user paper router' layout vertical>
  <template>

      <div layout horizontal>

          <template if="{{paper.current_role=='editor'}}">
              <paper-button id=start-review raised hidden?="{{paper.state!='submitted'}}" disabled?={{paper.reviewers.length==0}} on-tap="{{startReviewClick}}" >
                  <core-icon icon=arrow-forward></core-icon>
                  Start Review
              </paper-button>
              <paper-button id=accept raised hidden?="{{paper.state!='under_review'}}" on-tap="{{acceptClick}}" >
                  <core-icon icon=thumb-up></core-icon>
                  Accept
              </paper-button>
              <paper-button id=reject raised hidden?="{{paper.state!='under_review'}}" on-tap="{{rejectClick}}" >
                  <core-icon icon=thumb-down></core-icon>
                  Reject
              </paper-button>
          </template>

          <template if="{{paper.current_role=='submittor'}}">
              <paper-button id=check-for-update raised hidden?="{{paper.state!='submitted' && paper.state!='under_review'}}" on-tap="{{checkForUpdateClick}}" >
                  <core-icon icon=refresh   ></core-icon>
                  Check for Update
              </paper-button>
          </template>

      </div>

    <style>
      paper-button {
          margin-top: 5px;
          line-height: 0;
          padding 1px 0 2px 0;
      }
      paper-button core-icon {
          width: 16px !important;
          height: 16px !important;
          padding: 0;
          margin-top: -8px;
          margin-bottom: -8px;
          margin-right: 4px;
      }
      #accept, #start-review {
        background: green;
      }
      #accept:hover, #start-review:hover {
        background: #009000;
      }
      #reject {
        background: #800000;
      }
      #reject:hover {
        background: #c00000;
      }
      #check-for-update {
          background: #000080;
      }
      #check-for-update:hover {
          background: #0000a0;
      }
      paper-button[disabled] {
        background: gray !important;
        color:      white;
      }
    </style>

    <paper-action-dialog id=dialog backdrop layered=false>
        <p></p>
        <paper-button affirmative></paper-button>
        <paper-button dismissive autofocus>Cancel</paper-button>
    </paper-action-dialog>

    <json-put id=statusChangeRequest on-success={{statusChangeRequestSuccess}}></json-put>
    <json-put id=updateRequest       on-success={{updateRequestSuccess}}  on-error={{updateRequestError}}></json-put>

  </template>

  <script>
    Polymer({
      paperChanged: function() {
        this.submitted = this.paper && this.paper.state == 'submitted';
      },

      startReviewClick:function() {
          this.changeState('start_review',
                           'Do you really want to start reviewing this paper?',
                           'Start Review',
                           'Thank You. The paper will now be available for review.'
          );
      },
      acceptClick:function() {
          this.changeState('accept',
                           'Do you really want to accept this paper?<br/>This will close all open issues and mark the paper as accepted.',
                           'Accept',
                           'The paper has been accepted.'
          );
      },
      rejectClick:function() {
          this.changeState('reject',
                           'Do you really want to reject this paper?',
                           'Reject',
                           'The paper has been rejected.'
          );
      },

      checkForUpdateClick: function() {
          var $request = this.$.updateRequest;
          $request.url = Oj.urls.paperCheckForUpdatePath(this.paper);
          $request.go();
      },

      updateRequestSuccess: function(event, detail) {
          var message = 'We have retrieved version ' + detail.version + ' of your document.';
          this.fire('notification', message);
          this.router.go('/review/' + detail.sha);
      },
      updateRequestError: function(event, detail) {
          this.fire('notification', Oj.Utils.errorMessage(detail) );
      },

      showDialog: function(html, buttonText, onSuccess) {
          var $dialog = this.$.dialog;
          var $content = $dialog.querySelector('p');
          $content.innerHTML = html;

          var $button = $dialog.querySelector('paper-button[affirmative]');
          $button.innerHTML = buttonText;
          $($button).off('tap');
          $($button).on('tap', onSuccess.bind(this) );

          $dialog.open();
      },

      changeState: function(newState, html, buttonText, successMessage) {

          this.showDialog(html, buttonText, function() {
              this.successMessage = successMessage;

              var url = Oj.urls.paperTransitionPath(this.paper, newState);
              var $request = this.$.statusChangeRequest;

              $request.url = url;
              $request.go();
          });

      },

      statusChangeRequestSuccess: function(event, detail) {
          this.fire('notification', this.successMessage);
          this.router.go('/papers');
      }

    })
  </script>

</polymer-element>
