<dom-module id="oj-toolbar">
  <style>

      [tool] {
        height: 100%;
      }

      paper-icon-button {
          margin-top:  6px;
      }

      .title {
          color:          #fff;
          font-size:      18px;
          font-style:     normal;
          font-weight:    400;
          white-space:    nowrap;
          height:         25px;
          margin-top:     22px;
          text-transform: uppercase;
          text-transform: uppercase;
      }

      #search {
          background: rgb(67, 111, 153);
          border:         solid 1px #ccc;
          border-radius:  8px;
          color:          white;
          font-size:      16px;
          padding-left:   16px;
          padding-top:    4px;
          padding-bottom: 4px;
          height:         25px;
          margin-top:     18px;
          margin-right:   18px;
      }
      #search:hover, #search:focus {
          background: rgb(73, 121, 167);
      }

      ::-webkit-input-placeholder {
          color: silver;
      }
      :-moz-placeholder { /* Firefox 18- */
          color: silver;
      }
      ::-moz-placeholder {  /* Firefox 19+ */
          color: silver;
      }
      :-ms-input-placeholder {
          color: silver;
      }

      #search-icon {
          position: relative;
          left:     334px;
          top:      24px;
          color:    #ccc;
      }

      oj-user-login {
          margin-top: 20px;
      }

    </style>
  <template>

        <div tool="" class="layout flex horizontal">
            <paper-icon-button icon="menu" on-tap="toggleDrawer" hidden$="{{!narrow}}"></paper-icon-button>
            <span class="title flex">The Open Journal</span>
            <iron-icon id="search-icon" icon="search"></iron-icon>
            <input id="search" is="iron-input" placeholder="Search" on-keyup="onSearchKeyUp">
            <oj-user-login currentuser="{{currentUser}}"></oj-user-login>
        </div>

    <oj-current-user on-user="onUser"></oj-current-user>

  </template>
  <script>
    Polymer({
      is: 'oj-toolbar',
      properties: {
        currentUser: { notify: true },
        narrow: { notify: true }
      },
      onSearchKeyUp: function (event) {
        if (event.keyCode == 13) {
          event.preventDefault();
          var value = this.$.search.value;
          value = value && $.trim(value);
          if (value)
            this.fire('go', '/search?q=' + encodeURIComponent(value));
        }
      },
      toggleDrawer: function () {
        this.fire('toggle-drawer');
      }
    });
  </script>
</dom-module>
