<dom-module id="oj-user-tag">

  <template>

      <span class="name">
          <template is="dom-if" if="{{assignment.user}}">
              <span>{{assignment.user.name}}</span>
          </template>
          <template is="dom-if" if="{{assignment.text}}">
              <span>{{assignment.text}}</span>
          </template>
      </span>

      <template is="dom-if" if="{{showRemover(assignment, removable)}}"><a class="remover" href="#" on-click="remove">×</a></template>

      <template is="dom-if" if="{{showCompletionCheckbox(assignment, showCompleted)}}">
          <iron-icon id=completion-icon
                     class$="{{assignment.reviewer_accept}}"
                     icon="{{getCompletionIcon(assignment)}}"
                     title="{{getCompletionTip(assignment)}}"></iron-icon>
          <span id="completion-text" hidden?="{{!assignment.reviewer_accept}}">{{getCompletionTip(assignment)}}</span>
      </template>

      <style>

          :host {
              display:       block;
              font-size:     24px;/* Approximation due to font substitution */
              font-weight:   400;
              line-height:   30px;/* Approximation due to font substitution */
          }

          .remover {
              color:           #a7b4bb;
              text-decoration: none;
              font-weight:     normal;
          }

          #completion-icon {
              width:          24px !important;
              height:         24px !important;
              margin-left:    12px;
              background:     #e4e4e4;
              color:          hotpink;
          }
          #completion-icon.accept {
              color:         black;
          }
          #completion-icon.accept_with_minor {
              color:         blue;
          }
          #completion-icon.accept_with_major {
              color:         orange;
          }
          #completion-icon.reject {
              color:         red;
          }

          #completion-text {
              font-family: Roboto;
              display:     inline-block;
              color:       #7d7d7d;
              font-weight: 400;
              font-size:   14px;
          }

      </style>

  </template>

  <script>
    Polymer({
      is: 'oj-user-tag',

      properties: {
        assignment: {
          notify: true,
          observer: 'assignmentChanged'
        },
        removable: {
          type: Boolean,
          value: false,
          notify: true
        },
        showCompleted: {
            notify: true
        }
      },

      assignmentChanged: function () {
        if (this.assignment) {
          if (!this.assignment.user && !this.assignment.text)
            Polymer.dom(this).setAttribute('hidden', '');
          else
            Polymer.dom(this).removeAttribute('hidden');
          if (this.assignment.user && this.assignment.user.email)
            this.title = this.assignment.user.email;
        }
      },

      getCompletionIcon: function (assignment) {
        switch (assignment.reviewer_accept) {
        case 'accept':
          return 'icons:check-all';
        case 'accept_with_minor':
          return 'icons:check-circle';
        case 'accept_with_major':
          return 'icons:check-box';
        case 'reject':
          return 'icons:clear';
        default:
          return '';
        }
      },

      getCompletionTip: function (assignment) {
        switch (assignment.reviewer_accept) {
        case 'accept':
          return 'Accepted with No Revisions';
        case 'accept_with_minor':
          return 'Accepted with Minor Revisions';
        case 'accept_with_major':
          return 'Accepted with Major Revisions';
        case 'reject':
          return 'Rejected';
        default:
          return 'Review Not Complete';
        }
      },

      remove: function (event) {
        event.preventDefault();
        if (this.removable)
          this.fire('remove-user', this.assignment);
      },

      showCompletionCheckbox: function (assignment, showCompleted) {
        return showCompleted && assignment.role == 'reviewer' && assignment.user;
      },

      showRemover: function (assignment, removable) {
        return removable && assignment.role == 'reviewer' && assignment.user;
      },

      behaviors: [
          Oj.globalExpressions
      ]

    });
  </script>
</dom-module>
