<dom-module id="oj-user-tag">
  <style>

      :host {
        display: inline-block;
        background-color:black;
        color: white;
        box-sizing: border-box;
        padding: 2px 10px;
        border-radius: 6px;
      }

      :host([showcolor]) {
          padding-right: 4px;
      }

      .remover {
        color:white;
        text-decoration:none;
      }

      .color {
          display: inline-block;
          box-sizing: border-box;;
          background-color: white;
          width:  12px;
          height: 12px;
          /*border-radius: 6px;*/
          margin: 0;
          vertical-align: middle;
      }

      iron-icon {
          width:          16px !important;
          height:         16px !important;
          vertical-align: -2px !important;
          background:     #e4e4e4;
          color:          black;
      }

    </style>
  <template>
      <template is="dom-if" if="{{_computeIf(assignment, showCompleted)}}">
          <iron-icon icon="{{getCompletionIcon (assignment)}}" title="{{getCompletionTip (assignment)}}"></iron-icon>
      </template>
      <span class="name">
          <template is="dom-if" if="{{assignment.user}}">
              <span>{{_computeExpression1(assignment, capitalize)}}</span>: <span>{{assignment.user.name}}</span>
          </template>
          <template is="dom-if" if="{{assignment.text}}">
              <span>{{assignment.text}}</span>
          </template>
      </span>

      <template is="dom-if" if="{{_computeIf2(assignment, removable)}}"><a class="remover" href="#" on-click="remove">×</a></template>
      <!-- <template if={{showColor}}><span class='color' style="{{ {backgroundColor:tagColor} | styleObject}}"></span></template> -->
  </template>
  <script>
    Polymer({
      is: 'oj-user-tag',
      properties: {
        assignment: {
          notify: true,
          observer: 'assignmentChanged'
        },
        removable: {
          type: Boolean,
          value: false,
          notify: true
        },
        showColor: { notify: true },
        showCompleted: { notify: true },
        tagColor: { notify: true }
      },
      assignmentChanged: function () {
        if (this.assignment) {
          if (!this.assignment.user && !this.assignment.text)
            Polymer.dom(this).setAttribute('hidden', '');
          else
            Polymer.dom(this).removeAttribute('hidden');
          this.className = this.className + ' role-' + this.assignment.role;
          if (this.assignment.user && this.assignment.user.email)
            this.title = this.assignment.user.email;
        }
      },
      getCompletionIcon: function (assignment) {
        switch (assignment.reviewer_accept) {
        case true:
          return 'done';
        case false:
          return 'clear';
        default:
          return '';
        }
      },
      getCompletionTip: function (assignment) {
        switch (assignment.reviewer_accept) {
        case true:
          return 'Recommended Acceptance';
        case false:
          return 'Recommended Rejection';
        default:
          return 'Review Not Complete';
        }
      },
      remove: function (event) {
        event.preventDefault();
        if (this.removable)
          this.fire('remove-user', this.assignment);
      },
      _computeIf: function (assignment, showCompleted) {
        return showCompleted && assignment.role == 'reviewer' && assignment.user;
      },
      _computeIf2: function (assignment, removable) {
        return removable && assignment.role == 'reviewer' && assignment.user;
      },
      _computeExpression1: function (assignment, capitalize) {
        return assignment.role | capitalize;
      }
    });
  </script>
</dom-module>
