<polymer-element name='oj-user-tag' attributes='user removable'>

  <template>
      <span class=name>{{user.name}}</span>
      <template if={{removable}}><a href='#' on-click={{remove}} >&times</a></template>

    <style>

      :host {
        display: inline-block;
        background-color:#0f9d58;
        color: white;
        box-sizing: border-box;
        padding: 2px 10px;
        border-radius: 14px;
      }

      a {
        color:white;
        text-decoration:none;
      }

    </style>
  </template>

  <script>
    Polymer({
      removable:false,
      remove: function(event){
        event.preventDefault();
        this.fire("remove-user", this.user)
      }
    })
  </script>

</polymer-element>
