<dom-module id="oj-user-label">
  <style>

      :host {
        border-top: 5px solid;
        display: inline-block;
        background-color:red;
        color: white;
        box-sizing: border-box;
        font-size:10px;
        padding: 0 3px 0 3px;
        margin-right: 4px;
      }

    </style>
  <template>
  </template>
  <script>
    Polymer({
      is: 'oj-user-label',
      properties: {
        assignment: {
          notify: true,
          observer: 'assignmentChanged'
        }
      },
      assignmentChanged: function () {
        if (!this.assignment)
          return;
        $(this).addClass('role-' + this.assignment.role);
        this.set('style.backgroundColor', Oj.colors.userColor(this.assignment));
        if (this.assignment.user) {
          var title = this.assignment.user.name;
          if (this.assignment.user.email)
            title = title + ' [' + this.assignment.email + ']';
          title = title + ', ' + this.assignment.role;
          this.title = title;
        } else {
          this.title = this.assignment.role;
        }
      }
    });
  </script>
</dom-module>
