<polymer-element name="oj-user-login" attributes="currentUser">
  <template>

    <template if={{currentUser}}>
      <a class='link username' href='https://orcid.org/my-orcid' target='_blank' >
          {{currentUser.name}}{{currentUser|roles}}</a>
      <a class='link signout' href='/signout'>Sign Out</a>
    </template>

    <template if={{!currentUser}}>
      <a class='link' href='/auth/orcid'>Sign In</a>
    </template>

    <style>
      a {
        color: #fff;
        text-decoration: none;
        font-weight: 100;
        font-size: 14px;
        white-space: nowrap;
      }

      a.username {
        font-size: 0.6em;
      }

      a.signout {
          padding: 8px 12px;
          border-width: 2px solid rgb(77, 118, 156);
          border-radius: 5px;
          background-color: rgb(51, 85, 117);
          box-shadow: 0 2px 0 0 rgba(45, 74, 102, 0.004);
      }

      a.signout:hover {
      }

      a.signout:active {
          background-color: rgb(37, 62, 86);
          border: none;
      }

    </style>
  </template>

  <script>
    Polymer({

      roles: function(user) {
          if (!user)
            return '';
          else if (user.admin && user.editor)
              return ' (Admin, Editor)';
          else if (user.admin)
            return ' (Admin)';
          else if (user.editor)
            return ' (Editor)';
          else
            return '';
      }

    })
  </script>

</polymer-element>
