<polymer-element name="oj-user-login">
  <template>

    <template if="{{userReady}}">

        <template if={{user.name}}>
          <a class='link username' href='https://orcid.org/my-orcid' target='_blank' >
              {{user.name}}{{user|roles}}</a>
          <a class='link signout' href='/signout'>Sign Out</a>
        </template>

        <template if={{!user.name}}>
          <a class='link' href='/auth/orcid'>Sign In</a>
        </template>

    </template>

    <core-ajax auto url='/api/user' handleAs="json"  on-core-response={{isReady}}></core-ajax>

    <style>
      a {
        color: #fff;
        font-size: 0.9em;
        font-family: "Helvetica Neue";
        font-weight: 100;
        text-decoration: none;
      }

      a.username {
        font-size: 0.6em;

      }

      a.signout {
          background: #3849a3;
          padding: 8px 12px;
      }

      a.signout:hover {
          background: #4053ba;
      }
    </style>
  </template>

  <script>
    Polymer({
      userReady: false,

      isReady:function(event){
        if(event.detail.response.name){
          this.user = event.detail.response;
          window.current_user = this.user;
          this.asyncFire('user-logged-in', this.user);
        }
        else{
          this.user = null;
          this.asyncFire('user-logged-out');
        }
        this.asyncFire('user', this.user);
        this.userReady = true;
      },

      roles: function(user) {
          if (!user)
            return '';
          else if (user.admin && user.editor)
              return ' (Admin, Editor)';
          else if (user.admin)
            return ' (Admin)';
          else if (user.editor)
            return ' (Editor)';
          else
            return '';
      }

    })
  </script>

</polymer-element>
