<dom-module id="stacked-pdf-reader">

  <template>

    <div id="pages">
      <template is="dom-repeat" items="{{pageIndexArray}}" as="pageNo">
        <stacked-pdf-page page-no="{{pageNo}}"
                          page="{{getPage(pageNo)}}"
                          annotations="{{annotations}}"></stacked-pdf-page>
      </template>
    </div>


      <style>
          :host {
              padding: 2px;
              height: 100%;
              width: 100%;
              overflow-y: visible;
          }
          #pages{
              width:100%;
              height: 100%;
          }
          stacked-pdf-page:not(:last-of-type) {
              margin-bottom: 20px;
          }
      </style>

  </template>

  <script>
    Polymer({
      is: 'stacked-pdf-reader',

      properties: {
        annotations: {
            notify: true,
            type: Array
        },
        loadProgress: {
          type: Number,
          value: 0,
          notify: true
        },
        loading: {
          type: Boolean,
          value: false
        },
        pageNo: {
            notify: true
        },
        pageIndexArray: {
          type: Array,
          value: function () { return []; }
        },
        src: {
          notify: true,
          observer: 'srcChanged'
        }
      },

      ready: function() {
        this.getPDF();
      },

      getPDF: function() {
        if (this.loading)
        return;

        this.loading = true;
        this.pdf = null;
        PDFJS.externalLinkTarget = PDFJS.LinkTarget.BLANK;
        PDFJS.disableRange = true;
        var url  = this.src.replace('http://', 'https://');
        var task = PDFJS.getDocument(url);
        task.onProgress = this.pdfUpdateProgress.bind(this);
        task.then( this.pdfComplete.bind(this) );
      },

      pdfUpdateProgress: function(progress) {
        // console.log('PDF Progress', progress);
        this.loadProgress = 100 * progress.loaded / (1 * progress.total);
      },

      pdfComplete: function(pdf) {
        // console.log('PDF Complete');
        this.pdf      = pdf;
        this.loading  = false;
        this.numPages = this.pdf.numPages;
        this.createPageIndexArray(this.numPages);
      },

      createPageIndexArray: function(numPages) {
        var pageIndexArray = [];
        for (var i = 0; i < this.numPages; i++) {
          pageIndexArray[i] = i;
        }
        this.pageIndexArray = pageIndexArray;
      },

      srcChanged: function() {
        this.getPDF();
      },

      getPage: function(pageNo) {
        return this.pdf.getPage(pageNo + 1);
      },

      pageIsVisible: function(pageNo) {
        var docViewTop = $(window).scrollTop();
        var docViewBottom = docViewTop + $(window).height();
        var elemTop = $(elem).offset().top;
        var elemBottom = elemTop + $(elem).height();
        return elemBottom <= docViewBottom && elemTop >= docViewTop;
      }

    });
  </script>

</dom-module>
