<polymer-element name="stacked-pdf-page" attributes='pageNo page annotations'>
  <template>

      <template if={{loaded}}>
          <paper-shadow z=1 on-click={{fireClick}} >
            <canvas id=canvas></canvas>
            <div id=textLayer></div>
            <template if="{{ rendered && annotations}}">
                <div id=iconlayer>
                    <template repeat="{{a in annotations}}">
                      <template if="{{ a.page == pageNo }}">
                        <oj-annotation-marker annotation={{a}}
                                   style="{{ { top:a.page_y, left:a.page_x } | styleObject }}" ></oj-annotation-marker>
                      </template>
                    </template>
                </div>
            </template>
          </paper-shadow>
      </template>

      <style>
          :host {
            background-color: white;
            display: block;
            width: 100%;
            position:relative;
            top:0;
            left:0;
          }
          canvas{
            /*position:absolute;*/
            /*top:0px;*/
            /*left:0px;*/
            width: 100%;
            height: 100%;
          }
          #textLayer, #iconlayer {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            color: #000;
            width: 100%;
            height: 100%;
            overflow: hidden;
          }

          #iconlayer oj-annotation-marker {
              position: absolute;
          }
          #iconlayer core-icon {
            position:     absolute;
            stroke-width: 2px;
            height:       8px;
            width:        8px;
            margin-top:   -4px;
            margin-left:  -4px;
            transition:    all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.575);
          }
          #iconlayer core-icon.open {
            height:       16px;
            width:        16px;
            margin-top:   -8px;
            margin-left:  -8px;
          }

          /* Icon State colors */

          #iconlayer core-icon.state-unresolved {
              fill: #d3df38 !important;
              stroke:       #6b711c;
          }
          #iconlayer core-icon.state-resolved {
              fill: #146efc !important;
              stroke:       #0D47A1;
          }
          #iconlayer core-icon.state-disputed {
              fill: #fe4539 !important;
              stroke:       #a42d25;
          }
          #iconlayer core-icon.state-new {
              fill: #ffffa0 !important;
              stroke:       #f8f800;
          }

          /* CSS for text highlighting overlay */

          #textLayer > div {
            color: transparent;
            position: absolute;
            line-height: 1;
            white-space: pre;
            cursor: text;
          }

          #textLayer .highlight {
            margin: -1px;
            padding: 1px;
            background-color: rgba(180, 0, 170, 0.2);
            border-radius: 4px;
          }

          #textLayer .highlight.begin {
            border-radius: 4px 0 0 4px;
          }

          #textLayer .highlight.end {
            border-radius: 0 4px 4px 0;
          }

          #textLayer .highlight.middle {
            border-radius: 0;
          }

          #textLayer .highlight.selected {
            background-color: rgba(0, 100, 0, 0.2);
          }

    </style>

  </template>

  <script>
    Polymer({
      loaded: false,
      domReady: function(){
        $(window).resize( this.adjustClientSizes.bind(this) );

        this.page.then(function(pageContent){
          this.loaded = true;
          this.pageContent = pageContent;
          setTimeout(function(){
            this.render();
          }.bind(this), 600)
        }.bind(this));
      },
      annotationsChanged: function() {
          this.addLocationToAnnotations();
      },
      pageHeightChanged: function(oldValue, newValue) {

          if (oldValue==0) {
              // Do it immediately
              this.addLocationToAnnotations();
          } else {
              // Add a delay since we're reizing inside a mouse drag
              this.job('update-annotation-list-locations', this.addLocationToAnnotations, 150 );
          }

      },

      fireClick:function(event) {
          // var canvas = this.shadowRoot.getElementById("canvas");
          // var canvasRect = canvas.getClientRects()[0];

          // pdf convertToPdfPoint doesn't sem accurate
          // var point = this.viewport.convertToPdfPoint(event.offsetX, event.offsetY);

          var rx = event.offsetX / this.clientWidth;
          var ry = event.offsetY / this.clientHeight;
          this.fire("page-clicked", {page:this.pageNo, xStart:rx, yStart:ry} );
      },

      adjustClientSizes: function(event) {
        if (this.pageNo==0)
          this.asyncFire('pdf-client-changed', {pageNo:this.pageNo, clientHeight:this.clientHeight});
        this.addLocationToAnnotations();
      },
      addLocationToAnnotations: function() {
          if (!this.annotations)
            return;

          for (var i=0; i < this.annotations.length; i++) {
              var a = this.annotations[i];
              if (a.page == this.pageNo) {
                var location = this.annotationLocation(a);
                $.extend(a, location);
              }
          }
      },
      annotationLocation: function(a) {
          return {
              page_y: (a.yStart * this.clientHeight) + 'px',
              page_x: (a.xStart * this.clientWidth ) + 'px'
          };
      },
      annotationClicked: function(event, detail) {
        event.preventDefault();
        event.stopPropagation();
        var annotation = event.target.templateInstance.model.annotation;
        annotation.open = true;
      },
      render: function() {
        // Get the best scaling to fit the canvas
        var scale                 = this.clientWidth / this.pageContent.getViewport(1.0).width;
        this.viewport             = this.pageContent.getViewport(scale);

        this.textLayerDiv         = this.shadowRoot.getElementById("textLayer");
        var canvas                = this.shadowRoot.getElementById("canvas");
        canvas.width              = this.viewport.width;
        canvas.height             = this.viewport.height;

        this.pageContent.getTextContent().then(function(textContent) {
          this.textLayer = new TextLayerBuilder(this.textLayerDiv, 0);
          this.textLayer.setTextContent(textContent);

          var context = canvas.getContext('2d');
          this.pageContent.render({canvasContext: context, viewport: this.viewport,textLayer: this.textLayer}).then( function() {
              // no-op
          }.bind(this));

        }.bind(this));

        this.adjustClientSizes();
        this.rendered = true;
      }

    })
  </script>
</polymer-element>
