<dom-module id="json-request">

    <template>
        <iron-ajax id="request"
                   url="{{url}}"
                   auto="{{auto}}"
                   handle-as="json"
                   contenttype="application/json"
                   method="{{method}}"
                   loading="{{loading}}"
                   last-response="{{result}}"
                   body="{{json(data)}}"
                   on-response="success"
                   on-error="error">
        </iron-ajax>
    </template>

  <script>
    Polymer( {
      is: 'json-request',
      properties: {
        auto: {
          type: Boolean,
          value: false,
          notify: true
        },
        data: {
          type: Object,
          value: function () {
            return {};
          },
          notify: true
        },
        loading: {
            notify: true
        },
        method: {
          type: String,
          value: 'get',
          notify: true
        },
        result: {
          notify: true
        },
        url: {
          notify: true
        }
      },
      go: function(successCallback, errorCallback) {
        this.successCallback = successCallback;
        this.errorCallback = errorCallback;
        this.$.request.generateRequest();
      },
      success: function (event, detail) {
        this.fire('success', detail.response);
        if (this.successCallback)
          this.successCallback(event, detail.response);
      },
      error: function (event, detail) {
        this.fire('error', detail.request.xhr.responseText);
        if (this.errorCallback)
          this.errorCallback(event, detail.request.xhr.responseText);
      },
      behaviors: [ Oj.globalExpressions ]
    }
  )
  </script>
</dom-module>
