<dom-module id="oj-current-user">
  <template>

    <json-request method="get" auto="true" url="/api/user" on-response="isReady"></json-request>

  </template>
  <script>
    Polymer({
      is: 'oj-current-user',
      isReady: function (event) {
        var user;
        if (event.detail.response && event.detail.response.name) {
          console.log('logged in');
          user = event.detail.response;
          window.current_user = this.user;
          this.asyncFire('user-logged-in', user);
        } else {
            console.log('logged out');
            user = null;
          this.asyncFire('user-logged-out');
        }
        this.asyncFire('user', user);
      }
    });
  </script>
</dom-module>
