<dom-module id="oj-current-user">
  <template>

    <api-request method="get" auto="true" api="user" on-success="isReady"></api-request>

  </template>
  <script>
    Polymer({
      is: 'oj-current-user',
      isReady: function (event) {
        var user;
        if (event.detail && event.detail.name) {
          user = event.detail;
          this.fire('user-logged-in', user); //mro todo asyncFire
        } else {
          user = null;
          this.fire('user-logged-out'); //mRo todo asyncFire
        }
        window.current_user = user;
        this.fire('user', user); //mRo todo asyncFire
      }
    });
  </script>
</dom-module>
