<ul class='nav nav-sidebar'>
  <li>{{#link-to 'papers' 'submitted'}}Submitted{{/link-to}}</li>
  <li>{{#link-to 'papers' 'in_review'}}In Review{{/link-to}}</li>
  <li>{{#link-to 'papers' 'accepted'}}Accepted{{/link-to}}</li>
</ul>
