<ul class='nav nav-sidebar'>

  <li><a href='#/papers/waiting_assignment'>Waiting assignment</a></li>
  <li>{{#link-to 'papers'}}In dispute{{/link-to}}</li>
  <li>{{#link-to 'papers'}}Reviewed{{/link-to}}</li>
</ul>
