<ul class='nav nav-sidebar'>
  <li>{{#link-to 'papers' 'waiting_assignment'}}Waiting Assignment{{/link-to}}</li>
  <li>{{#link-to 'papers' 'in_dispute'}}In dispute{{/link-to}}</li>
  <li>{{#link-to 'papers' 'reviewed'}}Reviewed{{/link-to}}</li>
</ul>
