<!-- <div class='papers'> -->
  <!-- <ul>
    <li>{{#link-to '/papers/assignment'}}For Assignment{{/link-to}}</li>
    <li>{{#link-to '/papers/review'}}For Review{{/link-to}}</li>
    <li>{{#link-to '/papers/submited'}}Submitted{{/link-to}}</li>
  </ul> -->

  <!-- <div class='paper_selector'>
    {{outlet}}
  </div>
</div> -->
