$background_blue: #008bc6
$light_blue: #00b1ff
$oja_green: #b2cd00
$oja_purple: #a100cf
$oja_message: #ffd737

// $body-bg: #008bc6
// $navbarBackground: $light_blue
// $text-color: white
// @import "home"
