@import 'variables';

/* global styling for Polymer components - include in templates as required */

/*todo This is a hack due to Firefox's lack of support for web components
       and errrors when using the the shim-shadowdom attribute
       This should really be included in the main css file as something like
        body /deep/ {
          paper-button {
            background: #3e50b4;
            color: white;
          }
        }
*/

paper-button {
  background: #3e50b4;
  color: white;
}

/* boiler plate pages, home and about */

section.boiler-plate {

  padding: 10px 30px;

  h1 + p { margin-top: 0}

  .question { font-style: italic; }

  .answer {
    p:first-child { margin-top: 0; }
  }

}


