#dashboard {
  width:             100%;
  background-image:  image-url('static/wallpaper.jpg');
  background-repeat: no-repeat;
  background-size:   100%;

  #hero {
    background: -webkit-linear-gradient(-90deg, #151a1c 0%, rgba(21, 26, 28, 0.81) 18%, rgba(21, 26, 28, 0) 100%);
    background: -moz-linear-gradient(-90deg, #151a1c 0%, rgba(21, 26, 28, 0.81) 18%, rgba(21, 26, 28, 0) 100%);
    background: -o-linear-gradient(-90deg, #151a1c 0%, rgba(21, 26, 28, 0.81) 18%, rgba(21, 26, 28, 0) 100%);
    background: -ms-linear-gradient(-90deg, #151a1c 0%, rgba(21, 26, 28, 0.81) 18%, rgba(21, 26, 28, 0) 100%);
    background: linear-gradient(180deg, #151a1c 0%, rgba(21, 26, 28, 0.81) 18%, rgba(21, 26, 28, 0) 100%);
  }

  #jumbo {
    font-family: Neuton;
    color:       rgba(255, 255, 255, 0.7);
    font-size:   58px;/* Approximation due to font substitution */
    font-weight: 300;
    padding:     70px 0;
    line-height: 74px;/* Approximation due to font substitution */
    text-align:  left;
  }

  #page {
    width:      100%;
    background: #efefef;

    h2.category {
      font-family: Neuton;
      color:       #192023;
      font-size:   45px;/* Approximation due to font substitution */
      font-weight: 400;
      line-height: 70px;/* Approximation due to font substitution */
      text-align:  left;
      padding:     20px 0 30px 0;
    }

    h2.headline {
      font-family: Neuton;
      color:       #192023;
      font-size:   45px;/* Approximation due to font substitution */
      font-weight: 300;
      line-height: 70px;/* Approximation due to font substitution */
      text-align:  center;
      padding:     50px 100px 30px 100px;

      a {
        text-decoration: underline;
        color: #54d1b8;
      }
    }

    .flash {
      font-family:      Roboto;
      font-size:        22px;
      font-weight:      400;
      padding:          30px 100px;
      border: unset !important;
      border-radius: unset !important;
    }

    .banner {
      background:       #54d1b8;
      color:            #edf12c;
      font-family:      Roboto;
      font-size:        22px;
      font-weight:      400;
      padding:          30px 100px;

      a {
        color:          #edf12c;
        text-decoration: underline;
        font-weight:      700;
      }

      iron-icon {
        width: 50px;
        height: 50px;
      }
    }

    .papers {
      width:          1150px;
      margin:         0 auto;
      padding-bottom: 60px;

      .sorry {
        font-style: italic;
        font-family: Roboto;
        color:       #192023;
        font-size:   15px;/* Approximation due to font substitution */
        padding-left: 30px;
      }

      .dashboard_paper {
        padding: 30px;
        background: #fff;
        border-bottom: 1px solid #efefef;

        .title {
          font-family: Neuton;
          color:       #192023;
          font-size:   30px;/* Approximation due to font substitution */
          font-weight: 400;
          line-height: 30px;/* Approximation due to font substitution */
          width:       800px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .meta {
          font-style: italic;
          font-family: Roboto;
          color:       #192023;
          font-size:   15px;/* Approximation due to font substitution */
        }

        .action {
          box-sizing:       border-box;
          display:          inline-block;
          float: right;
          border-radius:    3px;
          border:           2px solid transparent;
          background:       #54d1b8;
          height:           40px;
          font-family:      Roboto;
          color:            #fff;
          font-size:        17px;/* Approximation due to font substitution */
          font-weight:      500;
          text-align:       center;
          text-decoration:  none;
          white-space:      nowrap;
          margin-left:      4px;
          padding:          8px 20px;
        }
      }
    }

    .paper {
      background-color: #ffffff;
      box-shadow:       0 8px 8px 0 rgba(0, 0, 0, 0.12);
      width:            345px;
      height:           360px;
      padding:          30px;
      border-bottom:    4px solid #54d1b8;
      position:         relative;
      display:          inline-block;

      .title{
        font-family: Neuton;
        color:       #192023;
        font-size:   23px;/* Approximation due to font substitution */
        font-weight: 400;
        line-height: 30px;/* Approximation due to font substitution */
        min-height:  120px;
      }

      .doi {
        font-family: Roboto;
        color:       #192023;
        font-size:   15px;/* Approximation due to font substitution */
        font-weight: 400;
        line-height: 22px;/* Approximation due to font substitution */
      }

      .arxiv {
        font-family: Roboto;
        color:       #192023;
        font-size:   15px;/* Approximation due to font substitution */
        font-weight: 400;
        line-height: 22px;/* Approximation due to font substitution */
      }

      .authors {
        font-family: Roboto;
        position:    absolute;
        left:        30px;
        bottom:      0;
        width:       280px;
        color:       #192023;
        font-size:   17px;/* Approximation due to font substitution */
        font-style:  italic;
        font-weight: 400;
        line-height: 22px;/* Approximation due to font substitution */
      }
    }
  }
}
