@import 'variables';

body {
  --paper-font-common-base: {
    font-family: $default_font;
    color:       $default_color;
  }
}

// #@mro #@todo - this all needs to be rewritten, deep and shadow selectors no longer work

// Modified CSS for Polymer elements

:root {

  /* Sass doesn't this CSS syntax yet */

  --ellipses: #{'{
    white-space:   nowrap;
    overflow:      hidden;
    text-overflow: ellipsis;
   }'};

   --disable-selection: #{'{
     -ms-user-select:     none;
     -webkit-user-select: none;
     -moz-user-select:    none;
     user-select:         none;
     cursor:              default;
   }'};

}

body /deep/ {

  paper-button {
    text-transform: capitalize;
    font-size: 12px;
    color: rgb(51, 85, 117);
    text-align: center;
    height: 30px;
    border: 2px solid rgb(51, 85, 117);
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 0 0 rgba(218, 218, 218, 0.1);

    &:hover {
      color: black;
      border-color: black;
    }

    &::shadow div {
      padding-top: 7px;
    }

    /deep/ paper-ripple {
      color: #8080ff;
    }

    &[disabled], &[disabled]:hover {
      background-color: white;
      border-color: silver;
    }

    &[dialog-dismiss]:not(:hover) {
      border-color: silver;
      color: silver;
    }

  }

  //paper-input {
  //
  //  /deep/ #underline {
  //    display: none;
  //  }
  //
  //  /deep/ paper-input-decorator {
  //    padding-top:  0;
  //    margin-right: 12px;
  //  }
  //
  //  /deep/ ::content input[is="iron-input"]  {
  //    border:        solid 2px silver;
  //    border-radius: 4px;
  //    height:        32px;
  //    margin-top:    0;
  //    padding-left:  8px;
  //  }
  //
  //}

  section.boiler-plate {

    font-family: $default_font;
    padding: 10px 30px;

    h1 {
      font-size:   26px;
      font-weight: 700;
      line-height: 30px;
    }

    h1 + p {
      margin-top: 0;
    }

    .question {
      font-style: italic;
      padding-bottom: 20px;
    }

    .answer {
      p:first-child { margin-top: 0; }

      ul {
        font-family: $default_font;

        li {
          font-size: 0.9em;
          line-height: 1.3em;
        }
      }

    }
  }

}

#footer {
  padding:     60px;
  background:  #151a1c;
  flex:        0 0 auto;

  .callout  {
    font-family: Neuton;
    color:       rgba(255, 255, 255, 0.8);
    font-size:   60px;/* Approximation due to font substitution */
    font-weight: 300;
    line-height: 70px;/* Approximation due to font substitution */
    text-align:  center;
  }

  .orcid {
    font-family:  Roboto;
    color:        #54d1b8;
    font-size:    25px;/* Approximation due to font substitution */
    font-weight:  300;
    line-height:  70px;/* Approximation due to font substitution */
    text-align:   center;
    padding:      10px 0 50px 0;

    a {
      text-decoration: underline;
      color:           #54d1b8;
    }
  }

  .anchor {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    width:      100%;

    .anchor_name {
      font-family: Neuton;
      color:       rgba(255, 255, 255, 0.3);
      font-size:   24px;/* Approximation due to font substitution */
      font-weight: 300;
      line-height: 60px;/* Approximation due to font substitution */
      text-align:  left;
    }

    .copyright {
      font-family: Roboto;
      color:       rgba(255, 255, 255, 0.3);
      font-size:   17px;/* Approximation due to font substitution */
      font-weight: 300;
      line-height: 60px;/* Approximation due to font substitution */
    }
  }

}
