// @import 'variables';

// Issue States
$oj-issue-states-fg: (
        unresolved: #6b711c,
        resolved:   #0D47A1,
        disputed:   #a42d25,
        new:        #e0e000,
);
$oj-issue-states-bg: (
        unresolved: #d3df38,
        resolved:   #146efc,
        disputed:   #fe4539,
        new:        #e0e0a0,
);

// Paper states? / actions

$oj-paper-states-bg: (
        submitted:       #ffd6da,
        under_review:    #ffffc8,
        accepted:        #dcffdc,
        rejected:        #ffd6da,
        superceded:      #ffb4ef,
);

$oj-paper-actions-bg: (
        needs-attention: #ffd6da,
        in-process:      #ffffc8,
        accepted:        #dcffdc,
        rejected:        #ffd6da,
);

// User roles
$oj-paper-roles-bg: (
        none:         black,
        author:       #f3003e,  // red
        submittor:    #fe003e,  // red
        collaborator: #f0790d,  // orange
        reviewer:     #b90731,  // green
        editor:       #981503,  // purple
);
$oj-paper-roles-fg: (
        none:         black,
        author:       #f3003e,  // red
        submittor:    #f3003e,  // red
        collaborator: #f0790d,  // orange
        reviewer:     #b9d731,  // green
        editor:       #9C15D3,  // purple
);

body /deep/ {

  oj-annotation-marker {

    &::shadow iron-icon {

      @each $state, $fg in $oj-issue-states-fg {
        &.state-#{$state} {
          // stroke: map-get($oj-issue-states-fg, $state);
          // fill:   map-get($oj-issue-states-bg, $state);
        }
      }

    }

  }

  oj-annotation {

    &::shadow .container {

      @each $state, $fg in $oj-issue-states-fg {
        &.state-#{$state} .container-inner {
          border-top-color: $fg;
        }
      }

    }

  }

  oj-user-label {

      @each $role, $color in $oj-paper-roles-fg {
        &.role-#{$role} {
          border-top-color: $color;
          background-color: $color !important;
        }
      }

  }

  oj-user-tag {

    @each $role, $color in $oj-paper-roles-fg {
      &.role-#{$role} {
        background-color: $color !important;
        font-size: 12px;
        padding: 5px 10px;
        font-weight: 400;
        border-radius: 3px;
      }
    }

  }

}
