<div id="footer">
  <p class="callout">New to The Open Journal?</p>
  <p class="orcid"><a href="/auth/orcid">Sign in</a> with your ORCID ID to get started</p>

  <div class="anchor">
    <p class="anchor_name left">The Open Journal</p>
    <p class="copyright right">&copy;<%= Time.now.year %> The Open Journal of Astrophysics</p>
  </div>

</div>