<a class="link" href="/about">About</a>
<a class="link" href="/recent">Recent Papers</a>
<a class="link" href="/dashboard">My Dashboard</a>

<!-- TODO: move this to the dashboard page. -->
<!-- <a is="pushstate-anchor" class="link username" href="/settings" target="_blank">
  <%= current_user.name %><span><%= current_user_roles %></span>
</a> -->

<a class="button" href="/submit">Submit a Paper</a>
<a class="button" href="/signout">Sign Out</a>
