<!DOCTYPE html>
<html>
  <head>
    <title>The Open Journal of Astrophysics</title>

    <%= javascript_include_tag "static" %>
    <%= stylesheet_link_tag "static", media: "all" %>

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700,">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Neuton:200,300,400,700">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:700">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/3.0.1/css/primer.css" />
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="main">
      <div id="hero">
        <div id="top-bar">
          <h1><a href="/">The Open Journal</a></h1>
          <ul>
            <li>About</li>
            <li>Recent Papers</li>
            <li>My Dashboard</li>
            <li><a href="/submit">Submit a paper</a></li>
          </ul>
        </div>
        <div id="jumbo" class="container">
          We're a peer-reviewed, open-access journal for research in astrophysics and cosmology
        </div>
      </div>
      <div id="page">
        <%= yield %>
      </div>
      <div id="footer">
        <p class="callout">New to The Open Journal?</p>
        <p class="orcid"><a href="/auth/orcid">Sign in</a> with your ORCID ID to get started</p>
        <div class="anchor">
          <p class="anchor_name left">The Open Journal</p>
          <p class="copyright right">&copy; The Open Journal of Astrophysics</p>
        </div>
      </div>
    </div>
  </body>
</html>
